[2020-01-17 07:28] Saehanseul opened #8 "[Question] Does this module work on iOS 13?"
I'm finding module which working at IOS 13.
I was used react-native-backgroun-timer. but it's not working at IOS 13.
I think it's because of new ios "background processing".

I wanna know about this module cover IOS 13.

[2020-01-17 11:07] Rapsssito commented on #8
Sadly, this library **will not keep alive the app in the background by itself** on iOS. How I am working on an iOS 13 solutions using the new [`BGProcessingTaskRequest` API](BGProcessingTaskRequest).

However, you can rely on other libraries like `react-native-track-player` to keep your app alive in the background while you execute the JS from this library

I have updated the [library documentatio

[2020-02-20 16:02] gabriel1lima opened #11 "The task is not stopped when "await BackgroundJob.stop();""
Using the sample application, I added a new TouchableOpacity to call the function "BackgroundJob.stop ()", but when I click on it the loop still sends console.log with "Runned -> index"

[2020-02-20 16:06] Rapsssito commented on #11
@gabriel1lima, you are right, thanks for the feedback! I will release a fix as soon as possible.

[2020-02-20 16:41] gabriel1lima commented on #11
Thanks!
Why does it happen? Could you give me a quick solution where I could mess with the lib code and make it work, because I am in urgent need of this functionality that your lib offers

[2020-02-20 16:52] Rapsssito commented on #11
@gabriel1lima, it happens because when the task is "killed", but the promise has not finished, **the "killing" process will wait until the promise resolves** (_maybe indefinitely_). The React Native [Headless JS docs](https://facebook.github.io/react-native/docs/headless-js-android#the-js-api) do not say much about it.

A solution could be to subscribe the background action to an event that causes

[2020-02-20 17:14] gabriel1lima commented on #11
I didn't understand where I should add this code, you could exemplify.

[2020-02-20 17:32] Rapsssito commented on #11
**I have updated the [example code](https://github.com/Rapsssito/react-native-background-actions/blob/master/examples/backgroundExample/App.js)** with a more functional one, it may serve you as an example. However, it does not work perfectly.

I am working on an improved API and more useful (non-serializable) parameter handling. Keep in mind that the example might be updated in a few hours.

[2020-02-20 18:19] gabriel1lima commented on #11
Thanks!

[2020-02-20 19:10] Rapsssito commented on #11
@gabriel1lima, I have released a **new version ([v2.1.0](https://github.com/Rapsssito/react-native-background-actions/releases/tag/v2.1.0))**, updated the **usage [documentation](https://github.com/Rapsssito/react-native-background-actions#usage)** and refactor the example code removing the need for an `EventEmitter`.

I hope this fixes your issue, feel free to reopen this issue if your problem pe

[2020-02-20 19:10] #11 closed

[2020-02-20 19:46] gabriel1lima opened #14 "'_reactNativeBackgroundActions.default.isRunning' is undefined"
In the sample code, in package.json, the dependencies look like this:

[code]

When running npm install this error is generated:

[code]
So I changed the version to the last one (2.1.0):

[code]

So npm install worked normally, but when running react-native run-android, this error is generated:
![Screenshot_20200220-164501_backgroundExample](https://user-images.githubusercontent.com/41576660/74972

[2020-02-20 19:50] Rapsssito commented on #14
@gabriel1lima, I am not able to reproduce the issue. Did you reset the transform cache after installing the last version?

[2020-02-20 19:53] gabriel1lima commented on #14
react-native start --reset-cache worked

Sorry for the bad English. I'm Brazilian and I'm using Google Translate.

Thanks!

[2020-02-20 19:53] Rapsssito commented on #14
Glad it worked!

[2020-02-20 19:53] #14 closed

[2020-03-05 15:55] gabriel1lima opened #16 "Is it possible to start the service without displaying a notification?"

[2020-03-05 16:00] Rapsssito commented on #16
@gabriel1lima, sadly **it is not possible to start the service without having the notification** on Android. Taken from the [Android Developer Docs](https://developer.android.com/guide/components/services#Foreground):

[2020-03-09 22:24] #16 closed

[2020-03-31 08:43] fatemeh471 opened #19 "Keep services running after restart"
When the app gets restarted Services are not running؟

[2020-03-31 08:52] Rapsssito commented on #19
@fatemeh471, thanks for the feedback! What do you mean by _restarted_? Closing the app deliberately while it is in the background and then opening it?

Could you provide more info about your issue: OS, RN version, etc?

[2020-03-31 10:50] fatemeh471 commented on #19
@Rapsssito .When I restart the phone, the background service will no longer run in the background.
And we need to open the app to run the services. I don't want to open the app every time
I want the app to always be running after installing the app until we have uninstalled the app

[2020-03-31 11:21] fatemeh471 commented on #19
When I restart the phone, the background service will no longer run in the
background.
And we need to open the app to run the services. I don't want to open the
app every time
I want the app to always be running after installing the app until we have
uninstalled the app.

I want to always have the app running after installing the app on my phone
until it's always running in the backdrop until I ha

[2020-03-31 13:12] Rapsssito commented on #19
@fatemeh471, sadly that is **not possible** and **out of the scope of this library** since it is not possible to accomplish on iOS. Android, with some tweaking, allows services to be run when the phone restarts. However, iOS does not allow that.
The goal with this library is to offer a consistent way to create and handle a background service in RN so it can be run on Android and iOS in a transpare

[2020-03-31 13:12] #19 closed

[2020-04-27 11:54] mrinmoygit opened #20 "unable to start"

[2020-04-27 11:58] #20 closed

[2020-04-27 12:01] ravithesun02 opened #21 "null is not an object (evaluating '_RNBackgroundActionsModule.default.start'"
"dependencies": {
    "react": "16.11.0",
    "react-native": "0.62.2",
    "react-native-background-actions": "^2.1.0"
  },

error:
[Mon Apr 27 2020 17:22:58.287]  LOG      Trying to start background service
[Mon Apr 27 2020 17:22:58.291]  LOG      Error [TypeError: null is not an object (evaluating '_RNBackgroundActionsModule.default.start')]

[2020-04-27 12:05] Rapsssito commented on #21
@ravithesun02, thanks for the feedback! Could you try two things?
* First try with `cd android` and run `./gradlew clean`.
* If it doesn't work try to reinstall your `node_modules`.

[2020-04-27 12:14] ravithesun02 commented on #21
I tried both but the error is same

[2020-04-27 12:16] Rapsssito commented on #21
@ravithesun02, this problem is related to linking. RN is not able to find the module. It is probably caused by a cache/node_module/pods/metro bad synchronization after the automatic RN linking. I don't know if you are using Expo, but I don't have experience with Expo, so I don't know the exact steps you would follow.

**My advise is to reset/reinstall the library, node_modules folder, metro cache,

[2020-04-27 12:22] ravithesun02 commented on #21
I am not using expo i have created new project and copied your example code to my app.js I am not using expo i have created new project and copied your example code to my app.js

[2020-04-27 12:25] Rapsssito commented on #21
@ravithesun02, could you delete `node_modules` and run `yarn install`?

[2020-04-27 12:33] ravithesun02 commented on #21
Issue is yet the same
if its possible please go through the code once
[https://github.com/ravithesun02/sanj ](url)

[2020-04-28 14:05] ravithesun02 commented on #21
It is fixed . just needed to rebuild the app using Android studio.

[2020-04-28 14:05] #21 closed

[2020-05-02 10:40] Phasor1 commented on #11
Hi @Rapsssito, i confirm that the BackgroundJob.stop() works, but i have a similar problem to this closed issue: putting BackgroundJob.stop() inside a componentWillUnmount when the app close, the promise doesn't end, i suppose beacouse the app close before the promise resolves. There's a way be shure that the app doesn't close before the promise ends, or make the promise ends by another way?

[2020-05-09 04:46] ravithesun02 opened #22 "Background action stops in OPPO F9 Pro"
Background actions starts but it gets stopped after certain time in android 9
. It works fine in all other versions.

[2020-05-13 09:17] Rapsssito commented on #22
@ravithesun02, thanks for the feedback! Could you provide more info about your issue: devices tested, code, etc?

[2020-05-13 11:33] ravithesun02 commented on #22
I have tested on different phones
It worked well on Moto e4 (Android 7)
. It didn't work on oppo F9 pro (Android version 9).It starts well but on clearing the recents on phone
BackgroundTask notification disappears.

[2020-05-13 17:54] Rapsssito commented on #22
@ravithesun02, sorry, I didn't understand what you meant by 'clear the recents'. Could you provide the steps to reproduce the bug?

[2020-05-13 17:57] ravithesun02 commented on #22
I mean when i remove all the apps from background.
somewhere i read that all the chinese phone remove all the backgroound task to optimize the performance.

[2020-05-13 18:02] Rapsssito commented on #22
**If you remove an app from the background all the background tasks created from that app become a target to be removed**. The OS will always have the last word on background services, and some manufactures might be more aggressive with the optimizations than others.

Does this also happen without removing the app from the background?

[2020-05-13 18:04] ravithesun02 commented on #22
Nope .
So if i use this with react native queue package will the issue be fixed

[2020-05-13 18:13] Rapsssito commented on #22
@ravithesun02, that library looks unmaintained, but you can try! But as I said, I think the issue is more with the OS service management than with the React Native library itself.

You can read more [here](https://developer.android.com/guide/components/services.html#Basics).

[2020-05-14 15:29] ravithesun02 commented on #22
@Rapsssito i want access continuous location data even when app is killed . This package works well android version other than 9 . Even it works well on 10 .
I went through other packages too .
Can you please help me in this.

[2020-05-14 16:13] Rapsssito commented on #22
@ravithesun02, as I said, I don't think it is the OS version. The issue might be related to the device manufacturer and the modifications they made on the base Android.
For location data you could use [react-native-location](https://github.com/timfpark/react-native-location) and follow the library's instructions. It might work even when the app has been killed because geolocalization is a special

[2020-05-14 16:22] #22 closed

[2020-06-02 16:54] 0anw0 commented on #19
What about running those SERVICES with a background fetch library? Is this possible?

[2020-06-04 14:17] ramemandi opened #23 "Android Background job is running, but not posting the data when app killed/closed"
Hi ,
I am working on react-native , in my android app i installed react-native-background-actions module.
Notification is appears on the top  and i am able to post some data to the backend , when app is in foreground, background(minimized mode),
but when the app is killed/ closed , the notification still appears but the data is not posting to the backend.
pls help ?

[2020-06-04 17:32] Rapsssito commented on #23
@ramemandi, take a look at https://github.com/Rapsssito/react-native-background-actions/issues/22#issuecomment-628154260

[2020-06-22 20:04] luigbren opened #24 "Automatically stop the service at the end of the process"
when sending the information to the server I do a process to convert some files and when the process is finished I want to finish the service and remove the icon in the notification, all automatically, because if the user closes the application while the conversion process is performed there is no possibility of finishing the service when the process is finished, I tried the example code and it wo

[2020-06-25 15:08] Rapsssito commented on #24
@luigbren, you don't need to call `await BackgroundService.stop();` at the end of the background task. Take a look at the [documentation](https://github.com/Rapsssito/react-native-background-actions#usage):
[code]

The "paused" mode means that the background service will stop.

[2020-07-01 17:18] radaalinmihai opened #25 "[Question] What's the period that the service executes in this package?"

[2020-07-01 17:50] Rapsssito commented on #25
@radaalinmihai, the service will start as soon as you call `BackgroundService.start()` and it will run until the OS kills it, the async task finishes or you call  `BackgroundService.stop()`. Take a look at the [docs](https://github.com/Rapsssito/react-native-background-actions#usage) for more info.

[2020-07-01 17:58] radaalinmihai commented on #25
Oh, ok, thank you

[2020-07-01 17:58] #25 closed

[2020-07-05 01:05] samuk190 opened #26 "[Question] It is possible to keep alive even if user "kills it""
I mean, in the past I saw some applications that to stop the service u need to force close, like uber, google maps..
This is possible?
Btw good lib, its the only one that worked with  Axios Retry. I hope it keeps improving :)

[2020-07-05 10:47] Rapsssito commented on #26
@samuk190, those apps are using location data, that's why the OS does not kill them. However, if you remove an app from the background all the background tasks created from that app become a target to be removed. The OS will always have the last word on background services, and some manufactures might be more aggressive with the optimizations (via removing background services) than others.

[2020-07-05 18:38] samuk190 commented on #26
Ok can you give me a example of how to keep the background task alive if I'm receiving location Data?

If i do background geolocation using @mauron85 lib, the O.S will not kill other task because it is forcing to run background?
I mean if I have two background tasks, one which is location and other is processing, or I need tie them?

[2020-07-05 19:28] Rapsssito commented on #26
@samuk190, from my experience, **if you have two background tasks, the OS won't kill any of them**. I am currently using music and processing in the background in one of my projects on production and I have not experience any issue.

[2020-07-05 20:47] samuk190 commented on #26
Thanks. I'm trying to use react-native-background-geolocation from @mauron85 and i think its not possible on the react native version I'm using.
Can you recommend any alternatives?

[2020-07-06 01:34] samuk190 commented on #26
Thank you! I managed to make it work with background and all stuff!
Your lib is really cool, thanks for maintaning it!

[2020-07-06 01:34] #26 closed

[2020-07-06 09:14] Rapsssito commented on #26
Sorry, I do not have experience with those kind of libraries. I don't know any alternatives.

[2020-07-06 11:15] samuk190 commented on #26
I just set Geolocation.WatchPosition inside your background task action and it worked.

I made a new task in case of GPSdesactivated to try 15 times until it sends with GPS Data! It worked nicely

[2020-07-19 10:27] samuk190 opened #29 "not working with RN 0.63.1"
I upgraded my v ersion to RN 0.63.1 and it is not working, I also did npx eject to rebuild android and iOS folders.
I'm missing something?

[2020-07-19 10:53] samuk190 commented on #29
it was bug with linking.

[2020-07-19 10:56] samuk190 commented on #29
1.

[2020-07-19 19:50] samuk190 commented on #29
ps: It is working but you need use clearTraffic on manifest file

[2020-07-19 19:50] #29 closed

[2020-07-21 10:44] #23 closed

[2020-07-26 08:25] oosam2 opened #30 "[Question] Is this lib work with socket io [&&] legal with App Store and google play when I upload the app?"
Hello

[app description]
A program for the driver that connects to the server via the socket and sends the current location until arrive to destination
after that stop the background-actions

____________________________________________________________________________________________________________________
[problem]
-Does Google Play and App Store Rules conflict with [react-native-background-acti

[2020-07-29 10:53] Rapsssito commented on #30
@oosam2, the only way to really know if your app will be approved is to send it for approval. However, as long as you don't violate any of the terms, it should be all right. `react-native-background-actions` does not conflict with the Google Play and App Store Rules by itself, it depends on how you use it.

[2020-07-29 10:53] #30 closed

[2020-08-05 04:49] robertfernanV commented on #8
@Rapsssito  Hi buddy, thanks for this great library! You comment about of  "react-native-track-player", but  i dont see any example with this two library  together.  do you have idea how implement? Thanks

[2020-08-05 12:53] Rapsssito opened #31 "[Question] Use with "react-native-track-player""
Thanks for this great library! You comment about of  "react-native-track-player", but  i dont see any example with this two library  together.  do you have idea how implement? Thanks

_Originally posted by @robertfernanV in https://github.com/Rapsssito/react-native-background-actions/issues/8#issuecomment-668977859_

[2020-08-05 13:00] Rapsssito commented on #31
@robertfernanV, this example might help you:
[code]

[2020-08-05 14:04] robertfernanV commented on #31
@Rapsssito  thanks for asking! i going to try it.

[2020-08-09 10:11] uptotec opened #32 "[feature request] is there a possibility to make the notification clickable"

[2020-08-09 10:11] uptotec opened #33 "[Android] Make the notification clickable"

[2020-08-09 16:38] Rapsssito commented on #33
@uptotec, could you elaborate on what you want from the notification to be clickable? I guess you are referring to Android only. You mean you want to app to be opened when clicked?

[2020-08-09 16:46] uptotec commented on #33
Yup, it would be great it if there is an option to do stuff when the notification is clicked on Android like opening the app, open a specific screen or run a function.

[2020-08-09 20:45] Rapsssito commented on #33
@uptotec, I like the idea. However, as it is not cross-platform it won't be a top priority. **I will check what I can do**.

[2020-08-10 10:14] Nahani commented on #26
Hello @samuk190.
I'm interested to your solution.
Where do you put the Geolocation.WatchPosition ?
Can you please share the code ? I'd really appreciate it.

Thank you.

[2020-08-10 14:20] samuk190 commented on #26
[code]
set state position lat , lon when new position is found.
[code]

do await updateRequestPosition inside your background action task, and you will retrieve gps data real time. Don't need to do anything else.

[2020-08-16 10:30] #8 closed

[2020-08-27 10:04] PuskyWasTaken opened #34 "null is not an object (evaluating '_RNBackgroundActionsModule.default.start')"
I tried running your example but I get the bellow error when I'm trying to start the backgroud action:

Unhandled promise rejection on start
TypeError: null is not an object ( evaluating
'_RNBackgroundActionsModule.default.start')

Any ideas of how I can solve this?
Suggestion: could you maybe add a more detailed example inside the doc?

[2020-08-27 10:10] Rapsssito commented on #34
@PuskyWasTaken, sorry you have this issue.
After installation, make sure to clean your build folder for iOS or run `./gradlew clean` for Android.

[2020-08-27 10:19] PuskyWasTaken commented on #34
I tried everything mentioned in #21
I also tried ```./gradlew clean``` but with no success.

![image](https://user-images.githubusercontent.com/49597849/91430667-ea653c00-e867-11ea-9465-41b310d2e3e0.png)

[2020-08-27 10:25] Rapsssito commented on #34
@PuskyWasTaken, could you provide the code that is causing the error?

[2020-08-27 10:33] PuskyWasTaken commented on #34
I did try resetting the cache.

The code:

## First, I am using exactly the example code provided.
[code]

## Here is the call
[code]

[2020-08-27 10:41] Rapsssito commented on #34
@PuskyWasTaken, it looks like an error on the link between the React Native and the module. Could you try to remove and add the library?
`yarn remove react-native-background-actions`
`yarn add react-native-background-actions`

And then post your package.json?

[2020-08-27 10:47] PuskyWasTaken commented on #34
I did @Rapsssito.
Below is the package.json (changed extension to .txt so I can upload it)
[package.txt](https://github.com/Rapsssito/react-native-background-actions/files/5135910/package.txt)

[2020-08-27 11:00] Rapsssito commented on #34
@PuskyWasTaken, are you on iOS or Android?

[2020-08-27 11:17] PuskyWasTaken commented on #34
Android

[2020-08-27 11:20] Rapsssito commented on #34
@PuskyWasTaken, could you try to run the app from Android Studio and check if are still having the issue?

[2020-08-27 11:21] PuskyWasTaken commented on #34
@Rapsssito I will, in a few minutes

[2020-08-28 08:08] PuskyWasTaken commented on #26
@samuk190 I am trying to do the same (get background coordinates) but my background task keeps getting killed when I start it. Would you be willing to share some more info? Thank you

[2020-08-28 08:10] PuskyWasTaken commented on #34
@Rapsssito After a whole day of debugging it not works but for the love of GOD..I don't know why. Thank you for the help and quick responses anyway!

For future people that might read this..good luck

[2020-08-28 08:10] #34 closed

[2020-09-02 04:05] brunocrocomo opened #35 "What happens when the task finishes?"
Hello!

First of all, thanks for this great library!

Currently i'm using it to keep my application running while downloading some big files and it works very well. Altough, I've noticed something and I'd like to ask what is really happening.

Just to begin to explain it, I use [Reactotron](https://github.com/infinitered/reactotron) to inspect my application. When the task finishes while the appli

[2020-09-02 09:49] Rapsssito commented on #35
@brunocrocomo, thanks for the feedback! **I didn't know about Reactotron, but it looks like a very useful library**. Sadly, I cannot answer why the application is still running and connected to Reactotron because I don't know how it works.

That part of the Android documentation is directly taken from [React Native HeadlessJS documentation](https://reactnative.dev/docs/headless-js-android.html#the

[2020-09-02 12:00] brunocrocomo commented on #35
Hi, @Rapsssito! Thanks for the answer! For React Native < 0.62 I always use Reactotron and for React Native >= 0.62 I use [Flipper](https://fbflipper.com/docs/getting-started/react-native). They're both great tools, indeed!

Talking about, I'll setup a project from scratch (with React Native > 0.62) and inspect with Flipper just to see what happens.

That makes sense. I'll investigate further more

[2020-09-02 15:56] ibnekhan opened #36 "[Android] Modify notification"
How can we update notification. If we want to show some processing percentage or progress bar into notification. How can we do that??

[2020-09-02 16:37] Rapsssito commented on #36
@ibnekhan, currently it is not possible. However, I plan adding it in the near future. I will update this issue when it is available!

[2020-09-02 16:38] #24 closed

[2020-09-02 16:38] #31 closed

[2020-09-02 16:58] ibnekhan commented on #36
@Rapsssito would you update in days or it would take weeks to release this modification?

[2020-09-02 17:01] Rapsssito commented on #36
@ibnekhan, I will start working on it now. I might have something for tomorrow.

[2020-09-02 21:27] #36 closed

[2020-09-02 21:29] Rapsssito commented on #36
You can check the [`Usage` documentation](https://github.com/Rapsssito/react-native-background-actions#usage) for how to update your notification!

[2020-09-02 21:46] brunocrocomo commented on #35
Hello again!

I spent some time testing different things just to make sure I wasn't doing anything wrong. For example, I tested some different values ​​for `android:launchMode` in the `AndroidManifest.xml`, but I always got the same result. As soon as possible I will observe the behavior on iOS (using the `react-native-track-player` or something else, as explained in the documentation).

On this t

[2020-09-02 22:12] brunocrocomo commented on #35
@Rapsssito Oh, that makes sense and it's good to know. I was a little paranoid about this battery matter hahaha.

The log I provided was obtained when the `AndroidManifest.xml` activity was set to `android:launchMode="singleTask"` (it's the default launchMode when the project is setup from scratch, if I'm not wrong).

Would you like me to test with another values?

[2020-09-02 22:24] Rapsssito commented on #35
@brunocrocomo, you are right! I forgot React Native 0.62 changed `android:launchMode` to `"singleTask"`. Then, no more testing is necessary. As you said, _this same behavior is possible to reproduce opening the application and closing it with the Android "back button"_, so this "issue" **might have more to do with React Native itself, rather than react-native-background-actions**.

[2020-09-02 22:33] brunocrocomo commented on #35
@Rapsssito Alright!

Yup, I agree with you, this is probably related to the way the React Native works.

For now, everything is working as expected and I just wanted to make sure that I wasn't doing anything wrong or weird with the background tasks.

Thank you once more!

[2020-09-02 22:33] #35 closed

[2020-09-03 12:28] ibnekhan commented on #36
@Rapsssito Nice and speedy work man 👍 But progress update part is missing.

[2020-09-03 13:09] Great-hijack opened #38 "[Android] Notification icon is not showing"
@Rapsssito Thanks for great library!
I decided to use this library for my app, but I just faced a issue.
Looking forward to get solved this issue.

![image](https://user-images.githubusercontent.com/57619523/92118106-9b4f7600-ee28-11ea-859e-95748ec39c5c.png)

![image](https://user-images.githubusercontent.com/57619523/92118766-7f000900-ee29-11ea-90cb-fefaf9624008.png)

[code]

[2020-09-03 15:31] Rapsssito commented on #36
@ibnekhan, could you create another issue with that request? That way I can organize myself a little better.

[2020-09-03 15:32] Rapsssito commented on #38
@Great-hijack, could you provide the correct icon so I can test it?

[2020-09-03 16:11] Great-hijack commented on #38
I generated the app icon by using Android Studio.
I think the icon is not a problem.
Btw, I attached the icons [mipmap-hdpi.zip](https://github.com/Rapsssito/react-native-background-actions/files/5169835/mipmap-hdpi.zip)

[2020-09-03 16:20] ibnekhan opened #39 "[Android] Update notification with Progress Bar"
Notification progress update and progress bar functionality still missing for android.
https://developer.android.com/training/notify-user/build-notification#progressbar

[2020-09-04 01:11] uptotec commented on #33
Hey @Rapsssito , Is there any updates on this issue coming later ?

[2020-09-04 10:44] Rapsssito commented on #38
@Great-hijack, the issue is caused by your icon. **The notification icon background must be transparent** so Android can display it correctly, yours is actually #fdf1fa.

[2020-09-04 10:46] Rapsssito commented on #33
I will be working on this for the next days. I will update this issue with new information as soon as I have it.

[2020-09-04 17:30] #33 closed

[2020-09-04 17:31] Rapsssito commented on #33
@uptotec, it is released! Take a look at the [documentation](https://github.com/Rapsssito/react-native-background-actions#deep-linking) for information about how to use it.

[2020-09-05 02:16] uptotec opened #42 "How to keep the task running without infinite loop"
Hello,
my target is to keep multiple event listeners working in the background. my question is How to keep the task running with the event listeners in the background without an infinite loop.
I tried to do the code below and I works but then I observed that the app drains a lot of battery and I guess that the infinite loop for a along period of time is a contributor to the battery drain.
I'll app

[2020-09-05 09:50] Rapsssito commented on #42
@uptotec, a `while(true)` is never a good options because the CPU is constantly executing instructions. One way to keep the task running would be never resolving the promise:
[code]

[2020-09-06 13:13] #39 closed

[2020-09-07 23:55] c7nasr opened #43 "Persist background task after restart"
Can you add presist after restarting mobile functionality?

[2020-09-08 06:06] hp040 opened #44 "How to check if task has already been created"
first of all, thank you for this package,

I want to create a task only if the task not running already (uniquely identify tasks)

[2020-09-08 13:01] hp040 opened #45 "Start background task on device startup"
how to start react-native-background-actions on device startup

[2020-09-08 14:34] c7nasr commented on #45
need it too

[2020-09-09 12:07] Rapsssito commented on #44
@hp040, you may use `BackgroundService.isRunning(): boolean` (more info [here](https://github.com/Rapsssito/react-native-background-actions/blob/master/lib/types/index.d.ts)):

[code]

[2020-09-09 12:08] #42 closed

[2020-09-09 12:08] Rapsssito commented on #45
@hp040, currently there is not such functionality. I have marked this issue as an enhancement.

[2020-09-09 12:09] Rapsssito commented on #43
@c7nasr, I have marked this issue as an enhancement. I will start working on it ASAP.

[2020-09-09 12:10] #38 closed

[2020-09-09 12:10] c7nasr commented on #43
That's would be great.!!

[2020-09-09 13:47] hp040 commented on #44
got it thanks buddy

[2020-09-09 13:47] #44 closed

[2020-09-09 13:49] hp040 commented on #45
thanks

[2020-09-16 13:58] tauqeer81 opened #47 "How to start the service every 5 minutes regardless of app state"
I want to start the service every 5 minutes to check for any offline data in Async Storage even if the app is closed or in background state. If there's any data available in storage then it should upload the offline data to server and stops the service. I haven't seen any example in the documentation. The service should start every 5 minutes in both android and ios.

[2020-09-17 10:55] Rapsssito commented on #47
@tauqeer81, you could use `setInterval()` inside the BackgroundTask. However, timers do not always behave as expected when the app is in the background ([more info](https://reactnative.dev/docs/headless-js-android.html#caveats)). Here is an example:
[code]

[2020-09-18 22:32] EmmanuelJh opened #48 "[Question] Is it possible to run a custom hook inside the function on BackgroundService.start?"
for example:

const myTask = () -> {
  const { something } = useMyCustomHook()
await something()
}

await BackgroundService.start(veryIntensiveTask, options)

[2020-09-18 22:44] Rapsssito commented on #48
@EmmanuelJh, it might be possible. However, you have to make sure it does not affect your UI. You can read more about it [here](https://reactnative.dev/docs/headless-js-android.html#the-js-api):

[2020-09-20 12:51] #48 closed

[2020-09-22 07:49] MrTuyennn opened #49 "How to check hourly, daily, weekly so it shows up in notification"

[2020-09-22 10:17] Rapsssito commented on #49
@MrTuyennn, could you provide a description? I don't understand what you mean.

[2020-10-01 21:13] d0xi5 commented on #8
You say in the main documentation on the warning part that the problem is that this library wont get the app to live forever in background.. But, will it live for at least 15-20 minutes? And, will this library allow to execute any JS code while on background as long as the app lives?

[2020-10-02 07:14] Rapsssito commented on #8
@d0xi5, it might live for at least 5 minutes. However, **iOS can close it as soon as it wants**. It depends on your use case.

[2020-10-03 09:55] Rapsssito commented on #45
Moving to #43, since it requires the same functionality.

[2020-10-03 09:55] #45 closed

[2020-10-13 14:49] PetengDedet opened #51 "Multiple Task"
Hi, first of all, thank you for this great library. It's straight forward to me. Easy to understand.

Is it possible to run multiple task?

When a task is still running, and not resolved yet, sometimes user want to do another task and just waiting for notification of running tasks to be done.
May be it's like a queue or something. Or even run multiple task with different id at the same time?

I'm

[2020-10-14 05:54] roysG commented on #43
Yes this totally will be awsome!

[2020-10-14 12:11] #47 closed

[2020-10-14 12:17] Rapsssito commented on #51
@PetengDedet, **it is not possible to run multiple tasks**. It won't be possible in the near future due to iOS restrictions on background tasks and I want to keep the library's API as much cross-platform friendly as possible.

However, you can turn your "BackgroundTask" into a background task generator (as long as it does not directly affect your UI):
[code]

Notice that I have used events as task

[2020-10-15 08:52] PetengDedet commented on #51
I understand what you expect from this library. It's make sense.
Your sample code give me new solution but it's not what i need right now. I changed the app flow. Forcing user to wait until existing task resolved.

Thank you for your answer.

_Closing issue_

[2020-10-15 08:52] #51 closed

[2020-10-25 12:02] #49 closed

[2020-10-26 15:43] danielfigueroaj commented on #43
Any updates about this new feature? Thanks for your awesome work

[2020-10-26 16:20] duarte-evocorp opened #54 "Prevent hibernation with background activities"
How to prevent the cell phone from hibernating with background activities?

[2020-10-26 16:22] Rapsssito commented on #43
@danielfigueroaj It looks like it might not be possible since you cannot save the JavaScript code reference from the AppRegistry to any persistent storage.

[2020-10-26 16:23] Rapsssito commented on #54
@duarte-evocorp are you on iOS or Android?

[2020-10-26 16:25] duarte-evocorp commented on #54
Android

[2020-10-26 16:26] Rapsssito commented on #54
@duarte-evocorp what do you mean by hibernation? You mean the screen going to the lock scren if the user is not using the device?

[2020-10-26 16:28] duarte-evocorp commented on #54
This, I want the application when it is open to prevent the screen from turning off. This is already happening, but when he puts the app in the background a few minutes later he hangs up.

[2020-10-26 16:29] duarte-evocorp commented on #54
I want the screen to remain on even in the background.

[2020-10-26 16:30] Rapsssito commented on #54
@duarte-evocorp sorry, but that is not possible currently on Android.

[2020-10-26 16:35] duarte-evocorp commented on #54
I understand, thank you.

[2020-10-26 16:39] danielfigueroaj commented on #43
@Rapsssito For Android... what if a RECEIVE_BOOT_COMPLETED is implemented and using a Broadcast Receiver, just try to run the RNBackgroundActionsTask service?

[2020-10-26 16:41] Rapsssito commented on #43
@danielfigueroaj that's what I have been doing, but that's not the problem. The problem is to call from the bridge the JavaScript function that was running before the device was turned off.

[2020-10-26 16:42] #54 closed

[2020-11-05 17:21] AnagramEngineering opened #55 "taskIcon seems not to have any effect when the app icon (ic_launcher in my case) is used"
There's not much description on this topic, besides the sample.

Also the screenshot in the documentation shows a square white icon in the status bar (placeholder for the notification)

Should that work (e.g. creating a separate icon with the correct formatting?)

[2020-11-05 17:41] AnagramEngineering commented on #55
My assumption was right, it's not possible to use the default appicon but a separate task icon is required. Once this is provided, it's correctly displayed.

Great, thx for your work!

[2020-11-05 17:41] #55 closed

[2020-11-08 19:00] martynasS opened #56 "Is it possible to hide nofication during sleep()?"
[code]

[2020-11-13 21:21] Rapsssito commented on #56
@martynasS, it is not possible to hide the notification because when you call `sleep()`, the program is still running your background task (listening for the end of sleep event). The only way to hide the notification is to stop the background task.

From Android [documentation](https://developer.android.com/guide/components/foreground-services):

[2020-11-14 14:18] act-naturally opened #57 "Is it possible to update data from main UI thread -> already running background task?"
Hi,

Thanks a lot for creating this library first of all.

I have an app that records a user's heart rate and monitors our some statistics. I would like this monitoring to continue even when the user minimizes the application, which is why I have started looking into Headless JS and your library. Right now, I can start up a background task using your library and read HR data continuously whether t

[2020-11-15 10:09] #56 closed

[2020-11-15 10:11] Rapsssito commented on #57
@act-naturally, you could pass a reference to an already instantiated event emitter. For example:

[code]

[2020-11-15 14:23] act-naturally commented on #57
Great, this is perfect. I couldn't use EventEmitter but DeviceEventEmitter did work for me for anyone interested:

[code]
`

[2020-11-15 14:23] #57 closed

[2020-11-18 10:41] lyseiha opened #58 "Getting geolocation in background when app killed"
Can?

[2020-11-19 08:30] maihonganh1997 opened #59 "unable to open file (in target "RNBackgroundActions" in project "RNBackgroundActions")"
After installing the package, I got an error on IOS

Showing Recent Messages
project/node_modules/react-native-background-actions/ios/Pods/Target Support Files/Pods-RNBackgroundActions/Pods-RNBackgroundActions.debug.xcconfig: unable to open file (in target "RNBackgroundActions" in project "RNBackgroundActions")

I'm using react-native-background-actions: 2.5.2 and react-native: 0.59.9

How to fix

[2020-11-20 08:19] Rapsssito commented on #58
If you want to get the user's geolocation you should check [react-native-geolocation](https://github.com/react-native-geolocation/react-native-geolocation).

[2020-11-20 08:19] #58 closed

[2020-11-20 08:21] Rapsssito commented on #59
@maihonganh1997, could you try again after cleaning your XCode build cache?

[2020-11-22 18:09] maihonganh1997 commented on #59
@Rapsssito I tried cleaning XCode build-cache but still got the old error

[2020-11-22 18:14] maihonganh1997 commented on #59
Then, I tried "cd ios && pod install && cd .." and got another error

[!] Unable to find a specification for `React-Core` depended upon by `react-native-background-actions`

You have either:
 * mistyped the name or version.
 * not added the source repo that hosts the Podspec to your Podfile.

[2020-11-24 18:42] Rapsssito commented on #59
@maihonganh1997, it might be a problem with RN 0.59.9 and React-Core pod. Could you try react-native-background-actions@2.5.0?

[2020-11-27 02:58] maihonganh1997 commented on #59
I tried react-native-background-actions@2.5.0, but still got the error:

[!] Unable to find a specification for `React-Core` depended upon by `react-native-background-actions`

You have either:
 * out-of-date source repos which you can update with `pod repo update` or with `pod install --repo-update`.
 * mistyped the name or version.
 * not added the source repo that hosts the Podspec to your Podf

[2020-11-27 08:16] Rapsssito commented on #59
@maihonganh1997, react-native-background-actions@2.5.0 does not depend on `React-Core`. Make sure you update your pod files after downgrading and clean all your caches.

[2020-12-02 07:50] maihonganh1997 commented on #59
I downgraded react-native-background-actions@2.5.0 and cleared the caches on my mac but I still got the old error :(

[2020-12-02 10:03] maihonganh1997 commented on #59
I created a test project with version: 0.63.3 and installed react-native-background-action package, it does work, :)

[2020-12-02 10:13] maihonganh1997 commented on #59
I also got another error for the old project 0.59.9 when I installed the package:
YellowBox.js:67 Possible Unhandled Promise Rejection (id: 0):
TypeError: Cannot read property 'start' of undefined
TypeError: Cannot read property 'start' of undefined
    at BackgroundServer.start$ (blob:http://localhost:8081/59e5131c-0046-4b96-b58f-41459f84558c:104967:86)
    at tryCatch (blob:http://localhost:8081

[2020-12-02 11:16] Rapsssito commented on #59
@maihonganh1997 that error looks like a failed linking between React Native and `react-native-background-actions`. It might be a problem with your particular RN 0.59.9 setup and linking, it is a common issue with React Native libraries. Take a look at my comment on this thread https://github.com/Rapsssito/react-native-tcp-socket/issues/27#issuecomment-616163678

[2020-12-04 05:06] sulabh9999 opened #60 "Want to add action button on notification"
Thanks for building excellent module for background task.
In my case, want to add action buttons as well on notification, i couldn't find any api for this. How can we achieve this? Please help.

Example:
<img src="https://user-images.githubusercontent.com/6996776/101123988-0f620b80-361c-11eb-9c4e-d7da6a071211.jpg" width="200">

Thanks

[2020-12-04 10:18] Rapsssito commented on #60
@sulabh9999, there is not such functionality at the moment. However, you can achieve similar results using [Deep Linking](https://github.com/Rapsssito/react-native-background-actions/blob/master/USAGE.md#deep-linking).
Thanks for your feedback! I will tag this issue as a `feature request`.

[2020-12-16 12:37] harshadghoghari84 commented on #43
@Rapsssito I can't open app from notification , any solution ?

[2020-12-16 13:01] stewartmcgown opened #61 "Occasional Background task crash in production"
My Sentry instance is catching occasional failures to start the background task.

https://sentry.ecoeats.uk/share/issue/7cf6f7ee88ee454ca3e73647693f83e3/

The issue appears to be that the buildNotification method constructs an Intent but the constructor returns null. I'm unable to replicate this issue in a dev environment.

`notificationIntent = new Intent(context, context.getCurrentActivity().get

[2020-12-16 18:00] danielfigueroaj commented on #43
Did you configure the deep linking?

[2020-12-17 18:48] Rapsssito commented on #61
@stewartmcgown, thanks for the feedback! It looks like the issue is that `context.getCurrentActivity()` returns `null`. However, I cannot debug the problem without any code to replicate the bug.

[2020-12-17 18:53] stewartmcgown commented on #61
This is the background task file!

[code]

[2020-12-17 19:32] Rapsssito commented on #61
@stewartmcgown, do you know what line is causing the error? If it is `start()`, `stop()` or `updateNotification()`

[2020-12-17 20:10] stewartmcgown commented on #61
I only know as much as you can see in the sentry crash report link. It doesn't seem to have any references to JS context at all!

[2020-12-18 16:33] rlebosse opened #62 "Abilty to stop task on app close on Android"
Hello, I would like to be able to stop the task when the main activity is stopped (for removed from the app drawer).

Is there a way to do so ? In the JS Code of React Native or maybe in some native Android code ?

Thanks in advance and keep the good work !

Romain

[2020-12-19 10:11] Rapsssito commented on #61
@stewartmcgown, could you try removing one of those instructions and check if the issue persists?

[2020-12-19 10:15] Rapsssito commented on #62
@rlebosse, here is an example:
[code]

You could write that code on the App.js file or any other component you want.

[2020-12-19 12:51] stewartmcgown commented on #61
The issue only appears sporadically in devices in the wild, so I'm afraid I can't really do much to test it and get any decent results. If somebody else encounters this issue and knows why, let us know!

[2020-12-21 08:33] rlebosse commented on #62
It works like a charm, thanks @Rapsssito !

[2020-12-21 08:43] #62 closed

[2020-12-29 19:23] Raul-Coelho opened #63 "[ Task icon not found ]"
When I try to change the name of the return icon with this problem. All icons are PNG and they all exist.

[2020-12-30 18:35] jafarpishdadi opened #64 "how to show smallicon in statusbar?"
thanks
I want to write a weather app
I used your package ... very good
How do I show a small icon in the phone status bar?

[2020-12-30 21:22] Rapsssito commented on #63
@Raul-Coelho, make sure to place your icons in the correct `/res` folder. I highly recommend you to use Android Studio for icon management.

[2020-12-30 21:24] Rapsssito commented on #64
@jafarpishdadi, if you want to add a task icon take a look at the [documentation](https://github.com/Rapsssito/react-native-background-actions/blob/master/USAGE.md#options), more precisely the `taskIcon` option.

[2020-12-31 04:16] jafarpishdadi commented on #64
thanks
task icon show but not show in statusbar
Looks like this photo
![image](https://user-images.githubusercontent.com/11630480/103394142-f45fba00-4b3b-11eb-947e-157341639ac7.png)

[2020-12-31 09:50] #64 closed

[2021-01-02 05:17] iamamanprajapati opened #65 "Background Task Remove/Kill Automatically For some conditions"
Background task removes/kill when I closed all applications at a time with android's "Closed All" button.

[2021-01-02 08:21] iamamanprajapati commented on #65
https://user-images.githubusercontent.com/49456931/103453568-6a614e00-4d01-11eb-87a1-599cc277c7cb.mp4

#Video

[2021-01-02 14:04] Rapsssito commented on #65
@iamamanprajapati, your problem might not be fixable. If you remove an app from the background all the background tasks created from that app become a target to be removed. You can read more about it in #26.

[2021-01-02 16:01] iamamanprajapati commented on #65
What can I do about this problem?

[2021-01-02 21:35] Rapsssito commented on #65
@iamamanprajapati, I don't know your exact use case, but you might need to create your own native module for your exact necessities.

[2021-01-03 08:01] iamamanprajapati commented on #65
Thanks !!

[2021-01-03 08:01] #65 closed

[2021-01-04 15:38] AnagramEngineering commented on #61
I'm seeing mostly the same bug:

[code]

currently only reported on an Huawei Mate 20 with Android 10 (SDK 29)

[2021-01-11 22:00] Joshmatjjen opened #66 "Notification badge icon not showing in the top of android notification bar"
Please can we add the .setBadgeIconType Top view Notification icon on android

[2021-01-11 23:16] Joshmatjjen commented on #66
![message-3062306-15820421661767275707](https://user-images.githubusercontent.com/32624413/104249271-6228b180-546b-11eb-97b3-cd8ffd30664b.jpeg)

[2021-01-13 15:20] Rapsssito commented on #66
@Joshmatjjen, thanks for the feedback! Unfortunately, I cannot add this feature because using `setBadgeIconType()` would require to bump the Android's `MIN_SDK_VERSION` from 21 to 26. This would reduce backwards compatibility and induce a BREAKING CHANGE in the library.

[2021-01-13 15:21] #66 closed

[2021-01-14 14:07] Umair115 opened #67 "How To Remove Notification Bar When App Is Terminated"
Hello there guys, I hope you guys are doing fine, i am using this amazing package for background processes and every thing is working amazing but there is one issue which i am facing is the notification bar which is continuously there even when the app is terminated, i dont want that bar, when i am trying to remove that bar by modifying the package, app stops working in the terminated mode. Someon

[2021-01-14 16:53] Rapsssito commented on #67
@Umair115 the notification shows even when the app is terminated because the background job is still running. Take a look at #62 in order to check out how to stop the background task when the main activity is killed.

[2021-01-15 09:22] Umair115 commented on #67
i dont want to kill the task, i just want to remove that notification bar, also that notification bar automatically disappears after half an hour or so, then the task stops working. i want the to continously work, it is some sort of alarm application, so the task needs to work continously but i dont want the notification bar to appear

[2021-01-16 18:40] Rapsssito commented on #67
@Umair115, I am sorry but the notification must always be displayed to the user. Take a look at #56.

[2021-01-18 07:11] ntvinhit commented on #31
Hi @robertfernanV and @Rapsssito

Will Apple reject this because we are using the dirty trick to "trick" Apple device?

[2021-01-18 10:23] Rapsssito commented on #31
@ntvinhit, this will indeed result in a rejection if audio is not necessary for the app. However, the question is about an example code with "react-native-track-player", use it at your own risk.

[2021-01-22 10:37] #59 closed

[2021-01-25 22:41] Rapsssito commented on #43
It looks like this enhancement is not possible to implement in the current state of React Native. I find it impossible to store the current state of the JavaScript engine and unable to start the background task on startup on Android or iOS.

[2021-01-25 22:41] #43 closed

[2021-01-29 15:49] my4fdal commented on #67
Sorry, bro, so the point is that this library can't run tasks in the background when notifications are removed, bro, is there no way to get rid of it, this is what I always want to ask, hehe ✌

[2021-02-06 19:48] HoSheiMa opened #68 "service stop if reboot mobile"
i want to make the service start with the mobile boot up to make the service always open to refreshing the data.

[2021-02-06 22:18] Rapsssito commented on #68
@HoSheiMa, thanks for the feedback! However, this is a "wontfix" since I have not been able to implement it. You may follow the development done from #45.

[2021-02-06 22:18] #68 closed

[2021-02-13 10:20] TheStraing opened #69 "Possible Unhandled Promise Rejection when calling BackgroundService.updateNotification(...) and app is killed"
Hi,
I get this error when the app is killed while the background action is running.

<img width="814" alt="Schermata 2021-02-13 alle 11 17 39" src="https://user-images.githubusercontent.com/16732179/107847579-17dd7c00-6ded-11eb-9d26-2677c8c80ef5.png">

The background task still runs fine, It's just not possible to update the notification (if I have a progress bar for example).

[2021-02-14 20:18] Rapsssito commented on #69
@TheStraing, thanks for the feedback! This is a known issue, please check #61

[2021-02-14 20:19] #69 closed

[2021-02-20 21:26] Joshmatjjen commented on #66
@Rapsssito  I am using a Libary called "react-native-music-control", Icon show always and MIN_SDK_VERSION is 16

[2021-02-20 21:28] Joshmatjjen commented on #63
Same issue here

[2021-02-21 09:48] Rapsssito commented on #63
@Joshmatjjen, have you set up your icons using Android Studio?

[2021-02-21 09:50] Rapsssito commented on #66
@Joshmatjjen, music icons are supported since much earlier. Take a look at the [docs](https://developer.android.com/reference/android/app/Notification.Builder#setBadgeIconType(int)) for more info.

[2021-02-21 12:01] hamidashoor98 opened #70 "how to stop backgroundservice for cleaning up"
hi this is my code and when I destroy app, the app is working
but when i want to start the app again and stop the BackgroundService (by  await BackgroundService.stop() )  top of useEffect, the past services  doesn't stop  for cleaning up  .

how to clean up the past services?

[code]

[2021-02-22 17:50] Rapsssito commented on #70
@hamidashoor98, I don't really understand your issue. Is it related to #62?

[2021-02-27 19:00] mohamedadlyy opened #71 "Background job is running, but not posting the data"
Background job is running, but not posting the data it pass it for three times and stopped anu one face this issue

[2021-02-27 23:06] #67 closed

[2021-02-27 23:07] Rapsssito commented on #71
@mohamedadlyy you might be experiencing a problem with your own code, not react-native-background-actions. I suggest you posting this question StackOverflow.

[2021-03-04 02:30] Joshmatjjen commented on #63
@Repssito It is fixed now... My icon had a background...

[2021-03-04 15:36] petergaultney opened #72 "[iOS] support expirationHandler"
This is just a feature request, but it would be very helpful to me if this library supported passing a JS callback for the iOS-only expiration handler that allows you to 'clean up' for 1 second before your task is ended.

https://developer.apple.com/documentation/uikit/uiapplication/1623031-beginbackgroundtask

I am essentially incompetent as an Objective C developer, or I'd happily contribute a P

[2021-03-04 15:40] Rapsssito commented on #72
@petergaultney thanks for the feedback! I will take a look at it and come back to you as soon as I get something.

[2021-03-04 15:43] #63 closed

[2021-03-04 16:12] itsAkky opened #73 "Showing Unexpected reserved word 'await' error in App.js file"
**Bellow is code which i have added in App.js**
[code]
**Bellow is code which i have added in AndroidManifest.xml**

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.backrn">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.p

[2021-03-04 17:16] Rapsssito commented on #73
@itsAkky, this is not a ReactJS problem, it is a vanilla JS one. You cannot use `await` outside an `async` function (this includes the global scope).

[2021-03-04 17:16] #73 closed

[2021-03-08 08:24] Bikash-Sawa commented on #61
I get error. Error: Attempt to invoke virtual method 'java.lang.Class java.lang.Object.getClass()' on a null object reference

when app is killed and and screen is off.

[2021-03-14 00:08] #72 closed

[2021-03-15 08:19] Thanhluc98 opened #75 "Can't run start background actions"
Hi guy!
I following your example code in this link "https://github.com/Rapsssito/react-native-background-actions/blob/master/examples/backgroundExample/App.js". But I can't run BackgroundJob.start(taskRandom, options);
The error is [TypeError: null is not an object (evaluating '_RNBackgroundActionsModule.RNBackgroundActions.start')].
Could you tell me how can I resolve this error?
Thank you!

[2021-03-15 09:59] Rapsssito commented on #75
@Thanhluc98, are you using Expo?

[2021-03-15 10:00] Rapsssito commented on #75
@Thanhluc98, you should also check if your issue can be fixed as stated in #21 or #34

[2021-03-16 09:15] cenim opened #76 "Is there a way to show/hide notification while the service runs ?"

[2021-03-16 09:56] Thanhluc98 commented on #75
@Rapsssito Thank you for your support!
I reinstalled the module, it worked for me.
Is it possible if I use this module run in background to connect BLE and save data to storage in both Android and iOS?

[2021-03-18 09:15] Rapsssito commented on #76
@cenim, please take a look at #56.

[2021-03-18 09:15] #76 closed

[2021-03-18 09:16] Rapsssito commented on #75
@Thanhluc98, it might be possible, but I am not 100% sure. The only way to know is to test it.

[2021-03-18 09:16] #75 closed

[2021-03-20 13:36] zendevil commented on #8
Hi
Is this issue being worked upon currently? Is there a solution for running background process in iOS reliably?

[2021-03-22 11:08] Rapsssito commented on #8
@zendevil, I am sorry, but it is not possible. Take a look at my comment https://github.com/Rapsssito/react-native-background-actions/issues/8#issuecomment-575582339 for more info.

[2021-03-24 11:08] subiyantoro opened #77 "Cannot Execute Linking when app killed"
It's possible to execute Linking.openUrl() when app killed, i tried implement Linking.openUrl on my task but it's not working

`
[code]

`

my redux dispatch it's working but Linking it's not

[2021-03-25 15:07] sumanchem1989 opened #78 "Notification is not appearing in the status bar"
Thank you very much for this package. I am using android and notification is not appearing in the status bar. Please tell me am I doing something wrong

[2021-03-25 21:54] Rapsssito commented on #78
@sumanchem1989, I am sorry for your issue. Does the background task work?

[2021-03-25 21:56] Rapsssito commented on #77
@subiyantoro, I don't think you can use Linking while in the background. I am not sure, but since React Native goes into "paused" mode when the task has finished, Linking might not work.

[2021-03-26 01:11] sumanchem1989 commented on #78
Background task is working absolute fine but status bar notifications and also whenever I close the device the notification is not visible in the mobile screen before I opened my device. Notification is only visible whenever I slide it from the top.

[2021-03-26 18:47] stewartmcgown commented on #61
For a bit of extra context, I've been able to trigger this via two different situations - both to do with restarting the app.

a) CodePush.restartApp() will occasionally trigger this

b) Restarting via the AlarmManager will cause this error every time unless a delay is added to the BackgroundService.start(....) call. I discovered this when implementing a periodic hard restart for our Kiosk app to

[2021-03-27 12:48] Rapsssito commented on #78
@sumanchem1989 I could not understand you. Does the notification appear in the notifications slider?

[2021-03-31 22:20] Osric38 commented on #8
Hi @Rapsssito , reading comment #8 you said to use "react-native-track-player" but it's for music play. Is there a way to keep working without using music player ? location only for example ?

My use case is "Tcp connection + Download files for 5 minutes". Then after 2/3 minutes I want to restart this process

[2021-04-02 07:22] sreekanth-14 commented on #8
Hey I too have some similar use case

[2021-04-02 07:25] sreekanth-14 commented on #8
Actually I need a background process which looks out for data from a source for certain interval of time. That too I need specifically for iOS. Will try if I can use react-native-track-player for keeping the app alive

[2021-04-02 10:28] Rapsssito commented on #61
@stewartmcgown, thanks for the reproducible code! It looks like an error when trying to access the React context while it is initialized. I will try to fix it ASAP.

[2021-04-02 10:31] Rapsssito commented on #8
@Osric38, check the [docs](https://github.com/Rapsssito/react-native-background-actions) for more info:

The issue here is that iOS does not allow your app to run in the background without a very specific reason. The main problem is with iOS itself and its restrictions on background tasks. Take a look at the [iOS docs](https://developer.apple.com/documentation/uikit/app_and_environment/scenes/prep

[2021-04-02 10:38] Osric38 commented on #8
@Rapsssito I know about this restriction, but with react-native-track-player, I will block user for reading his personnal musics, no ?

Have you already tried "react-native-background-geolocation" ?

In IOS 13, it seems background is allowed for some processing actions, have you tried this point ?

[2021-04-06 16:14] Rapsssito commented on #8
@Osric38 I have not tested it with react-native-background-geolocation. Make sure to use react-native-track-player if the sound is a real part of the app, if it is not, your app will get rejected in the App Store.

Take into account that running the React Context is a relatively heavy processing action. However, I will take a look at the possibilities offered by iOS 13 as soon as possible.

[2021-04-10 11:27] Rapsssito commented on #61
@stewartmcgown, I am not able to reproduce the issue, I am having issues restarting the app with `AlarmManager`. Could you provide a minimal reproducible React Native app?

[2021-04-12 17:48] WaseemAhmed645 opened #79 "Background Location Tracking"
Is this possible to get the current updated location when application is in background state get every current position of user from google maps . i need this library for background tracking is this feasible for this task related to user location kindly reply

[2021-04-12 19:32] moyolvera commented on #61
I'm also facing this issue. Unfortunately I haven't been able to reproduce it but crashlytics is showing a lot of this two errors:

This first error is located on `com.asterinet.react.bgactions.RNBackgroundActionsTask.buildNotification (RNBackgroundActionsTask.java:38)`

This error last seems to be located on `com.asterinet.react.bgactions.BackgroundActionsModule.start (BackgroundActionsModule.jav

[2021-04-13 12:41] Rapsssito commented on #79
@WaseemAhmed645 this library is for general use JavaScript code, for geolocation I recommend you using: https://github.com/react-native-geolocation/react-native-geolocation

[2021-04-19 15:01] #70 closed

[2021-04-19 15:01] #71 closed

[2021-04-19 15:01] #77 closed

[2021-04-19 15:02] #79 closed

[2021-04-22 14:22] ezranbayantemur commented on #61
I'm facing on this error too. I'm working on remote so can't produce it properly. Will you working on it soon @Rapsssito ? It would be great if you look at it  🙏

[2021-04-22 22:08] Arturo-J-Alva opened #80 "I want to run two tasks, one after the other, but when I run the second, the first one runs too."
When I stop the first task (with STOP) and execute the second, both are executed at the same time. I need is for them to run at different times.

--RUN TASK ONE (first moment)
await BackgroundService.start(veryIntensiveTaskONE, options)

--- STOP TASKS (second moment)
await BackgroundService.stop();

--RUN TASK TWO (third moment)
await BackgroundService.start(veryIntensiveTaskTWO, options)

*** Be

[2021-04-23 11:43] unknownFrequency opened #81 "Cannot start react-native server"
After I do npm install I get the following error:

[code]

send@0.17.1
react-native@0.64.0
react-native-background-actions@2.6.0

Also I have ejected out of Expo

[2021-04-24 19:23] Rapsssito commented on #81
@unknownFrequency, it looks like your problem it is not related to this library. Could you please post it in the `send` repository?

[2021-04-24 19:24] Rapsssito commented on #61
@ezranbayantemur, I must be able to reproduce the issue in my local machine in order to fix it. If anyone could provide a reproducible code I would be able to start working on a fix.

[2021-04-24 19:26] ezranbayantemur commented on #61
@Rapsssito I'll working on it on later day. Maybe I could provide a reproduceble code

[2021-04-24 19:28] Rapsssito commented on #80
@Arturo-J-Alva, calling `BackgroundService.stop();` while the app is in the foreground does not guarantee to stop your task immediately. The only way to **really** stop your task is to resolve the promise. For this purpose you could use `BackgroundService.isRunning()` to know if it has been stopped.

[2021-04-24 19:28] #78 closed

[2021-04-24 21:33] moyolvera commented on #61
My issue was related to CodePush, I found out that during installing the update the background action is failing to get access to the react context and that was causing the crashes, seems like preventing to run the background action if there's a pending update might fix the issue for me. More testing is needed to confirm that last statement

[2021-04-25 02:45] Arturo-J-Alva commented on #80
I did what you told me, but it's the same as before. I observe is that the first task stays saved, and when I run another task, it runs together with the first one.
Is there a method to delete the executed tasks? (after using the STOP method)

[2021-04-26 06:10] #81 closed

[2021-04-27 21:12] Rapsssito commented on #80
@Arturo-J-Alva, if the first task **resolves** it should not continue running, it works as any other JS Promise. You might need to debug your code and make sure your first task resolves correctly **before** running your second task. Your code logic might be interfering with the promise resolution.

[2021-05-03 06:07] wlek777 opened #82 "How to not displaying the local notification?"
I tried to not displaying the local notification when in background mode but couldn't find any api for this. Can this library archieve this at the moment?

[2021-05-03 09:34] wlek777 commented on #82
alright I got it, it is foreground service
[https://developer.android.com/guide/components/services](url)

[2021-05-03 09:34] #82 closed

[2021-05-03 10:59] rewhex commented on #35
Hello there, I've resolved this "issue" with react-native-exit-app, calling RNExitApp.exitApp() will kill both background service and main process, also you don't need to call .stop() or resolve() for background service.

[2021-05-03 11:50] brunocrocomo commented on #35
Hey @rewhex! Thanks for the tip!

I will inform my team about this library!

Just for the record, during that time we didn't notice any problems with the application in the "paused state" and everything worked as explained by @Rapsssito.

[2021-05-04 08:57] sureshhallyali opened #83 "Background action is running and before its complete I am forcing to stop and its stopping but showing "WARN" message"
WARN     Possible Unhandled Promise Rejection (id: 9):
Error: A BackgroundAction must be running before updating the notification

code:

const stopBackgroundJob=async()=>{
                if (playing===true){
                    await BackgroundJob.stop();
                    console.log('Stoped BackgroundJob=>',BackgroundJob.isRunning());
                }else{
                     console.log('

[2021-05-07 09:58] ravklosowicz opened #84 "LinkingURI doesn't redirect to my navigation"
[code]
AndroidManifest.xml
[code]

Navigation:

[code]

But if I fire from console
npx uri-scheme open app://Profile --android
I have correct redirection

[2021-05-07 21:42] Rapsssito commented on #83
@sureshhallyali, you may be calling `updateNotification()` before a background task has been started.

[2021-05-07 21:44] Rapsssito commented on #84
@ravklosowicz, does it work without navigation?

[2021-05-11 13:51] sureshhallyali opened #85 "State update showing Warning message and not updating state while running background task and I open app."
When I close and  open  app it's showing Warning  message for state update as shown below

`ERROR  Warning: Can't perform a React state update on an unmounted component. This is a no-op, but it indicates a memory leak in your application. To fix, cancel all subscriptions and asynchronous tasks in a useEffect cleanup function.
    in App (at renderApplication.js:47)
    in RCTView (at View.js:34)

[2021-05-12 09:27] klaakso commented on #60
Hi @Rapsssito ! We would also like to use this feature. Have you started work on this yet? If not, I'd be happy to help out! 🙂

[2021-05-13 21:32] Rapsssito commented on #60
@klaakso, I have been very busy lately. If you want to help, you are very welcome! 💯

[2021-05-15 04:04] sureshhallyali commented on #85
Is there any update regarding this issue ??

[2021-05-16 09:27] Rapsssito commented on #85
@sureshhallyali, please take a look at the [documentation](https://github.com/Rapsssito/react-native-background-actions/blob/master/USAGE.md):
[code]

You are receiving those errors because you are trying to update a React state object from the background. Your background tasks should not touch any UI components while the app is in the background.

[2021-05-17 05:45] sureshhallyali commented on #85
@Rapsssito Thank you for the update but  is the  any way to show background running process in UI component

[2021-05-20 18:17] ericleb010 opened #87 "Gradle warning about use of `maven` plugin"
When using `gradlew` version 6.8.1 to compile a project with `react-native-background-actions` (turning on all warnings), I get the following notice:

[code]

Sounds like this will break soon.

[2021-05-20 19:02] ericleb010 opened #88 "Android S requires extra flag on `PendingIntent`"
I was testing our app against Android S, and we're encountering crashes when starting a background service. Logcat gave the following error:

[code]

Some info on the change here: https://developer.android.com/about/versions/12/behavior-changes-12#pending-intent-mutability

[2021-05-22 12:20] Rapsssito commented on #87
@ericleb010, thanks for the notice! I will take it into consideration.

[2021-05-22 12:22] Rapsssito commented on #88
@ericleb010, thanks for the feedback! I will start working on it ASAP.

[2021-05-22 21:50] Rapsssito commented on #85
@sureshhallyali, I highly recommend you checking out this issue: https://github.com/Rapsssito/react-native-background-actions/issues/57.

[2021-05-25 04:33] ammarahm-ed opened #90 "Task does not run in release mode"
Hey there! Great library. The task never fires in release mode however it works fine in debug? Here's my code:

[code]
RN `v0.64` & hermes enabled.

[2021-05-25 05:23] ammarahm-ed commented on #90
The issue was with the notification icon resource added only in debug mode. fixed

[2021-05-25 05:23] #90 closed

[2021-05-28 08:48] ammarahm-ed commented on #90
Hey, so for me the case was that when I added the icons, they were only added to debug mode and not release. What i did was go to `android/app/debug/res` and move the drawable files from there to `android/app/main/res` folder.

[2021-06-02 22:12] yoya93 commented on #75
Hello, I am at your same point. I am trying to use this module to detect beacons when the application is closed. Did it work for you? It would save me a lot of time. Thanks in advance

[2021-06-05 15:53] chrisdukakis commented on #70
@Rapsssito he means that `BackgroundService.stop()` doesn't work if you close and reopen the App. Services spawn by previous app instances will keep running.

[2021-06-09 22:40] ArsalImam commented on #61
@Rapsssito I have successfully verified the fix in #89 in the production environment (after 100% rollout - last week). Till now, we didn't receive any occurrence of this issue (currently, 2k+ users are using the latest version of the app).

[2021-06-09 22:58] #61 closed

[2021-06-22 09:49] drash-course opened #91 "Fatal Exception: java.lang.IllegalStateException "Not allowed to start service Intent" (with solution)"
Hello !

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-background-actions@2.6.0` for the project I'm working on.

Looking at my Firebase logs I saw this crash:

[code]

Since `reactContext.startService(currentServiceIntent);` can fail, I moved it inside the try / catch block. The caller should get a rejected promise and handle the error gracefully.

He

[2021-06-24 03:53] kakhilkrishnan opened #92 "run command"
Please mention how to run this project.

[2021-06-26 11:21] Rapsssito commented on #92
@kakhilkrishnan, please take a look at the documentation.

[2021-06-26 11:21] #92 closed

[2021-06-26 11:24] Rapsssito commented on #91
@drash-course, could you create a PR with this fix, please?

[2021-06-29 17:46] sureshhallyali commented on #80
@Arturo-J-Alva its workied for me , if any other solution please let me know.

    `import BackgroundJob from 'react-native-background-actions';

    const sleep = (time) => new Promise((resolve) => setTimeout(() => resolve(), time));

    const taskRandomOne = async (taskData) => {

        await new Promise(async (resolve) => {

            // For loop with a delay
            const { delay } =

[2021-06-30 11:28] #91 closed

[2021-06-30 11:37] Anton-1408 opened #94 "Geolocation ios"
Hello! I want to use react-native-background-actions with react-native-community/geolocation but app work on ios at background mode a 30s. DistanceFilter for geolocation - 1m

Code:
 const veryIntensiveTask = async taskDataArguments => {
    await new Promise(async resolve => {
      try {
          watchLocation(async position => {
            dispatch(setCurrentLocation(position.coords));

[2021-07-05 17:30] Rapsssito commented on #94
@Anton-1408, you should take a look at the documentation for both libraries and ask a specific question. You might not need this library to accomplish your task.

[2021-07-05 17:30] #94 closed

[2021-07-05 17:42] #85 closed

[2021-07-05 17:42] #84 closed

[2021-07-13 11:33] dmontecillo opened #95 "Example background task package not working"
Example background task package not working

[code]

[2021-07-15 16:46] russmenum opened #96 "BackgroundService.start() not working on Android, Example code not working but no errors"
I am trying to test this is working in the Android emulator

[code]

this is almost verbatim the ```USAGE.md``` example code. What am I not following? I even tried putting an API Post which is what I need to do in place of ```console.log("loopcount:", i);``` just incase I was looking in the wrong place for the ``` console.log("AM HERE4");``` or the ```console.log("loopcount:", i);```

What am I mi

[2021-07-16 13:24] russmenum commented on #96
After finally getting this to log at least in the iOS simulator: I was getting ```sleep undefined``` errors. in digging looks like there is missing code from the example code.

[code]
once I added that it would run at least in the iOS simulator.

But nothing on Android. I see the notification, but the code in ```veryIntensiveTask``` seems not to be running regardless of if app is in foreground or

[2021-07-16 14:42] russmenum commented on #96
ok, it looks like the problem is this is not working on android at all

[code]

I thought it was because ```BackgroundService.updateNotification()``` was showing the updated notification. But never actually see the ```BackgroundService.start()``` one. So is a permission or something needed for this to run on Android?

[2021-07-19 13:26] russmenum commented on #96
Ok looks like I needed to reset how I did the build the manifest changes were not taking effect for some reason. So core problem was the lack of ```const sleep```

[2021-07-19 13:26] #96 closed

[2021-07-28 06:55] harshadghoghari84 commented on #60
i can't use pedometer in background action ,help please!

[2021-07-29 17:49] JosueCont commented on #60
How could I get two or more notifications when I used BackgroundService.start() in different parts?

[2021-08-02 09:26] shinnachot opened #97 "Android 10 backgroud service not working when turn off screen"
Android below 10 is working perfectly but now when i try on android 11 the problem is when i turn off screen background service is stop not runing any more

[code]

[2021-08-03 09:55] Rapsssito commented on #60
@JosueCont, you cannot run more than one background service at the same time. Please, read the documentation and open a new issue if you have any more questions.

[2021-08-03 17:44] amalmohann commented on #81
this worked for me `npm start -- --reset-cache`

[2021-08-10 16:44] russmenum opened #98 "Not working in iOS simulator"
This overall seems to be working well, but I am trying to debug iOS side now and it just seems to not work at all in the simulator. Is there some trick for iOS side simulator?

[2021-08-10 20:15] russmenum commented on #98
Looks like it may not be working in the iPhone most of the time. I got one error on my test iPhone and have not been able to get any background process since

[2021-08-10 20:29] russmenum commented on #8
Did we ever get any progress on this?

Because I do not even think my  ``` const veryIntensiveTask = async (taskDataArguments) => { ``` is running on iOS. I basically need to do a GEO LOCATE and FETCH every so often even if the user is using another app like google maps.

I got one error POST to my BE and then when in iOS setting to tell it to just let the app always use location, but since never

[2021-08-10 21:49] Rapsssito commented on #8
@russmenum, for geolocation purposes, I highly recommend using just pure `react-native-background-geolocation`, `react-native-background-actions` works as a more general purpose background processing with limited functionality in iOS caused by iOS design.

[2021-08-10 21:57] Rapsssito commented on #95
@dmontecillo, I am sorry for your problem, but it looks like your issue is related to your setup rather than `react-native-background-actions` itself.

[2021-08-10 21:57] #95 closed

[2021-08-10 21:58] #80 closed

[2021-08-11 15:42] talismanbrandi opened #99 "bug in 2.6.1: Notification not opening up app"
We updated from 2.6.0 to 2.6.1 to fix https://github.com/Rapsssito/react-native-background-actions/issues/61. Now when I tap on the mandatory notification in Android, the "Choose action using" dialog comes up asking me to choose the app and my app is not in that list. No errors are being throws. Just that it does not take me back to the app.

I have tested that this is a new bug by reverting back

[2021-08-11 18:51] russmenum commented on #8
@Rapsssito , I am confused about how that is different? In looking at that it looks like all the calls run in the foreground so would not work while the app is not in the foreground? Maybe moot as after install trying to use it is crashing my app.

If it will work even when iOS app is in the background or another app is in use; great, but looks like all the doc is class bassed; would you know of a

[2021-08-13 15:02] talismanbrandi commented on #99
I solved this with [Deep Linking](https://github.com/Rapsssito/react-native-background-actions/blob/master/USAGE.md#deep-linking) but even in v2.6.2 it does not work as before without Deep Linking.

[2021-08-17 17:29] luisfrancajr commented on #97
I have the same problem. I tested it with android 8 and it was from noon to 8 pm working normally. But when I test with android 10 it works for about 20 or 30 minutes. Anyone know how to say some way to solve?

[2021-08-18 12:09] Ppang0405 commented on #8
Please do something. Flutter has already had [flutter_workmanage](https://github.com/fluttercommunity/flutter_workmanager) that relied on Android's WorkManager, iOS' performFetchWithCompletionHandler and iOS BGAppRefreshTask. Could you do it in React Native?

[2021-08-19 11:40] mx-kshitij opened #100 "Multiple actions, is it possible to check if an action (identifiable by taskname) is already running ?"
Is it possible to pass a taskName in BackgroundJob.isRunning() to check if that particular action is already running ?

[2021-08-19 20:46] Rapsssito commented on #100
@mx-kshitij, I am sorry, but as it is stated in the documentation. It is only possible to run one task at a time.

[2021-08-19 21:17] Rapsssito commented on #98
@russmenum could you provide a reproducible code with your issue?

[2021-08-20 14:22] mx-kshitij opened #101 "No task registered for key name1"
[code]

On calling the BackgroundJob.start()

[2021-08-23 12:44] Rapsssito commented on #101
@mx-kshitij, I am sorry for your issue. Could you provide a minimal reproducible example code?

[2021-08-23 12:51] Rapsssito commented on #87
@ericleb010, could you check if this issue has been solved with the last RN version (0.65)?

[2021-08-23 15:53] mx-kshitij commented on #101
`import { Platform, Linking } from 'react-native';
import BackgroundJob from 'react-native-background-actions';

export async function JA_BackgroundAction(taskName, taskTitle, taskDesc, linkingURI, runOnce, repeatInterval, stopOnExit, action, notificationColor) {

	BackgroundJob.on('expiration', () => {
		console.log('iOS: I am being closed!');
	});

	console.log('Setting time');

	sleep = (time)

[2021-08-29 09:08] #100 closed

[2021-09-09 10:59] mx-kshitij commented on #101
@Rapsssito Hi. Did you get any time to check this out ?

[2021-09-13 16:30] Rapsssito commented on #101
@mx-kshitij, I am sorry but not yet. I will come back to you as soon as I have tested your code.

[2021-09-14 08:32] mx-kshitij commented on #101
Got it working with some help. Conflicting libraries in node_modules folder

[2021-09-14 08:32] #101 closed

[2021-10-01 14:17] nielson266 commented on #87
Unfortunately not

[2021-10-04 15:51] Rapsssito commented on #87
@ericleb010 and @nielson266, this issue should be fixed in the last version!

[2021-10-04 15:51] #87 closed

[2021-10-04 15:52] #98 closed

[2021-10-04 16:07] #88 closed

[2021-10-14 20:43] tristanbsn opened #103 "Warning messages on import"
When importing with `import BackgroundService from 'react-native-background-actions';` , metro shows the following warnings :

I use react-native v0.66.0 and react-native-background-actions v2.6.4

[2021-10-15 14:23] #103 closed, assigned to nobody

[2021-10-16 19:56] tristanbsn commented on #103
It works, thank you.

[2021-10-30 08:51] erkankarabulut opened #106 "Doesn't work when the app is in background or closed"
I've tried the toy example on my android phone (API level 30) and the task is not executed when the app is in background or when the app is closed. Can someone confirm if it works for them or not?

[2021-11-04 18:00] dn32 opened #107 "Is there any way to start the service on Android restart?"
Is there any way to start the service on Android restart? See what I tried without success:

[code]
Error:

[code]

[2021-11-04 22:36] Rapsssito commented on #107
@dn32, I am sorry, but I was not able to get it to work. Take a look at #43 for more info.

[2021-11-04 22:36] #107 closed

[2021-11-04 22:37] #99 closed

[2021-11-04 22:38] Rapsssito commented on #106
@erkankarabulut, may this be related to #97 ?

[2021-11-08 11:11] GaylordP opened #109 "Why do both tasks continue to run despite a stop() ?"
Hello and sorry for my bad english, I'm french :)

Thanks you very much for your library. :)

I created a `Timer` module, which triggers a countdown.  I want this Timer to stop when leaving the screen. I put my code in a useEffect :

    useEffect(() => {
        startBackgroundService()

        return () => stopBackgroundService()
    }, [])

Sometimes when the user goes to the next screen I tri

[2021-11-09 13:24] GaylordP commented on #109
I found an alternative solution, thank you :)

[2021-11-09 13:24] #109 closed

[2021-11-09 22:28] GaylordP opened #110 "How to implement react-native-track-player ?"
Hello :)

Thanks you very much for your library.

You mention in your documentation `react-native-track-player` in order to be able to work correctly on iOS.

But I can't find an example of an implementation. I read [this issue](https://github.com/Rapsssito/react-native-background-actions/issues/31) correctly but I think it is a bit incomplete.

I searched the internet a lot (especially in all git

[2021-11-10 19:26] IvKr95 opened #111 "[Android 11] App Crashes after calling BackgroundService.start()"
**Specs**

- "react": "16.13.1"
- "react-native": "0.63.4"
- "react-native-background-actions": "^2.6.5"
- Android 11

[code]

[2021-11-10 22:34] Rapsssito commented on #110
@GaylordP, expanding the example would be:

[code]

[2021-11-10 22:35] Rapsssito commented on #111
@IvKr95, could you please narrow down which part of the code is causing the issue?

[2021-11-11 07:15] IvKr95 commented on #111
This is the code that is responsible for scanning BLE ad packages and sending them to our backend then if everything is fine we'd like to fire up a background task -> startBackgroundTask(). However, the app crashes for an unknown reason. I also update my AndroidManifest.xml with
`<service android:name="com.asterinet.react.bgactions.RNBackgroundActionsTask" />`

const associate = async (nfcMac: str

[2021-11-11 09:29] IvKr95 commented on #111
I failed to add <uses-permission android:name="android.permission.WAKE_LOCK" /> to my AndroidManifest.xml, after adding it the issue was resolved. But now the app collects data in the foreground just fine, but in the background it works inconsistently.

[2021-11-11 11:27] GaylordP commented on #110
Thanks for your reply :)

I'm sorry (maybe I don't understand because my English is bad) but this example is incomplete right ?

I that adding these few lines in the original code of [this example](https://github.com/Rapsssito/react-native-background-actions/blob/master/examples/backgroundExample/App.js) does make it work, is something missing ?

Thanks you in adavance

[2021-11-15 19:52] alexfov commented on #109
Could you share it please?

[2021-11-21 12:58] transli opened #112 "Suggesting a feature."
Just suggesting a feature, add a close button on notification , such that  a user can pull notification drawer and close the background task.

[2021-11-23 11:34] abolfazlyounesi opened #113 "Unable to start service com.asterinet.react.bgactions.RNBackgroundActionsTask@ebe9ce4 with Intent { cmp=com.app/com.asterinet.react.bgactions.RNBackgroundActionsTask (has extras) }: java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.Class java.lang.Object.getClass()' on a null object reference"
I am getting this error on production, and it causes crashes for some of the users, any ideas on how to solve this?

`Unable to start service com.asterinet.react.bgactions.RNBackgroundActionsTask@ebe9ce4 with Intent { cmp=com.app/com.asterinet.react.bgactions.RNBackgroundActionsTask (has extras) }: java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.Class java.lang.Object.g

[2021-11-26 10:24] Rapsssito commented on #112
@transli, thanks for the feedback! However, I believe this functionality could be achieved by #60.

[2021-11-26 14:07] alexfov opened #114 "react-native-background-actions prevent the app from closing by user on Android 10"
Hello and thank you for such a nice library. I faced a problem on Android. When I use background task, and then close my app it doesn't closes actually despite it is absent in the opened apps list. When I open the app again it starts with the last state that was before closing.

[code]
On first open I see i = 1. Then I close the app and open it again and see i = 2, then i = 3 etc... This leads to

[2021-11-29 08:57] clgh0331 commented on #114
i have same issue..

[2021-11-29 09:06] clgh0331 commented on #114
I sorved this problem
`
if (!BackgroundService.isRunning()) {
      await BackgroundService.start(veryIntensiveTask, options);
    }
`

[2021-11-29 09:10] alexfov commented on #114
It doesn't help for me. As workaround I use this:
[code]

[2021-11-29 09:22] clgh0331 commented on #114
Sorry, I misunderstood.
But, I don't have such issues

[2021-11-29 19:20] hoseinfo opened #115 "question"
hi
it can't be use when I close app completely?

I mean do some work when my app is completely close

[2021-11-30 09:19] Applizone opened #116 "How do I hide the notification after the task is done?"
Currently from the example code, the backgroundjob will be start and inside it having a loop as long as the ```BackgroundJob.isRunning()``` is not null.

[code]

inside this loop, I'm planning to retrieve all unsync data from local database and sync it to server and while it download, I can update the notification. And after it finish sync, it will sleep waiting for next delay. And while it sleep,

[2021-11-30 13:56] hoseinfo commented on #98
same issue
does it wok on iOS devices?

[2021-12-01 09:39] Rapsssito commented on #114
@alexfov, this is the expected behavior. However, I believe React Native allows you to listen for app state changes, so you can close the task when the app is being closed.

[2021-12-01 09:42] Rapsssito commented on #116
@Applizone I am sorry but this cannot be achieved because of Android UI policies and permissions. This library is oriented for long running background tasks. If you want to run a tasks periodically, other community modules might be more suitable.

[2021-12-01 09:45] Rapsssito commented on #110
@GaylordP, there is a lot more configuration needed for react-native-track-player to work. However, this is outside the scope of this library, you may want to ask this in their repository.

[2021-12-01 10:48] alexfov commented on #114
@Rapsssito as you can see in the 1st post I use stop() method inside useEffect. If I add log to the promise result I can see that task is stopped. Also I added BackgroudService.isRunning() before starting task and it says that there is no active task. And notification disappears when the app is closed. So I can infer that there is no background tasks when app is closed.

[2021-12-10 14:05] Rapsssito commented on #114
@alexfov, the issue is that when you open the app, it starts counting from when it stopped?

[2021-12-10 14:43] alexfov commented on #114
Not counting itself. Issue is several times redux-saga initialization. So when I dispatch an action that makes network request I get multiple queries. It is first issue that I noticed. I'm sure there are others.

App opened 1st time - normal behavior, 1 dispatch - 1 query.
App opened 2nd time - 1 dispatch - 2 queries.
App opened 3rd time - 1 dispatch - 3 queries.
And so on.

It is strange, because

[2021-12-12 12:17] hoseinfo opened #117 "foor loop"
hi
I'm facing a issue:
codes in for loop repeat many times in one run....
for example I get (Round 0) in my console 5 times

[2021-12-13 20:14] Rapsssito commented on #114
@alexfov, I am sorry, I am not familiar with `redux-saga`. I guess that React hook is only called once and the `veryIntensiveTask` does not dispatch several queries. I am sure no background task is running after restarting the app because I have tried to implement it (#43).

The only thing I can think of is some kind of cache/batch/concatenation of queries. Sorry, but I can't help you anymore with

[2021-12-13 20:15] #112 closed

[2021-12-13 20:16] Rapsssito commented on #115
@hoseinfo, I am sorry but it is not possible. Please, take a look at #26.

[2021-12-14 03:08] leonidlewis opened #118 "How to hide the Notification when app is running in foreground and background mode."
I am running my app with this module and works well.
I'd like to hide the notification from the notification panel when the app is working without the background job stopping.
Currently, We can hide the notification calling panel backgroundJobs. stop().
Is there a good method to hide the notification?

[2021-12-15 13:14] alexfov commented on #114
@Rapsssito could you explain why the app starts from previous state, when using this lib?

[2021-12-15 14:47] alexfov commented on #114
Ok it's because BackgroundService doesn't stopped actually. If you stop it when an app is still opened there is no the issue. It seems like we can't know and use a callback when a user closes an app

[2021-12-17 11:57] IsmailTan35 opened #120 "I cant get location services when app is running in background but it works on emulators"
[code]

[2021-12-25 11:35] Rapsssito commented on #118
@leonidlewis, the notification cannot be hidden while the background process is running. Once the background process finishes, the notification eventually disappears (it might take a few minutes, it depends on the Android implementation).

[2021-12-25 11:35] #118 closed

[2022-01-20 10:14] Rapsssito commented on #114
@alexfov, I am sorry, but background tasks are heavily managed by the OS. Each Android flavor has its own battery management rules and can cause incoherence between devices. If the user closes the app manually from the "open apps" is highly possible that the background task will also be killed. Also, take

I don't know why the app is starting from a previous state, for more info you may take a loo

[2022-01-20 10:17] Rapsssito commented on #120
@IsmailTan35, I am sorry but for geolocation services I highly recommend you using [react-native-geolocation](https://github.com/react-native-geolocation/react-native-geolocation) instead. This module's scope is to be a general purpose background task manager for React Native, for audio or geolocation there are other specialized modules.

[2022-01-24 16:37] shinnachot opened #121 "BackgroundService.start is create multiple task"
I using this code when i want to start some task `BackgroundService.start(this.taskRandom, options);`
When i kill app or logout i use this code to stop task `BackgroundService.stop();`
It's work fine but...when i try to start task again `BackgroundService.start(this.taskRandom, options);` it'll do a multiple task job
Example
start task 1 13:05PM
stop
start task 1 13:10PM
start task 1 13:15PM
<<< i

[2022-01-25 05:19] Shaswati opened #122 "[Query, not a bug] How can I store data locally?"
I am using this library to collect sensor data in the background. I could successfully collect data even if the application is removed/killed from the background state.
Now, I want to store that data in local storage first. Once the user gets connected to the server, I will sync data with the server.
What can be the approach to achieve that? Any advice will be appreciable.

[2022-01-26 21:59] Rapsssito commented on #122
@Shaswati, for local storage I highly suggest you using https://github.com/react-native-async-storage/async-storage.

[2022-01-26 21:59] #122 closed

[2022-01-26 22:00] #117 closed

[2022-01-26 22:00] #120 closed

[2022-01-26 22:03] Rapsssito commented on #111
@IvKr95, background tasks are inconsistent because of differences between different OS and the current battery status of the device. That is an expected behavior.

[2022-01-26 22:03] #111 closed

[2022-01-26 22:03] #110 closed

[2022-01-26 22:04] #114 closed

[2022-01-26 22:04] #106 closed

[2022-02-18 04:14] jakeee51 commented on #21
Hey, would like to re-open this issue. Am getting this same error on this library's version 2.6.5

[2022-02-18 05:35] jakeee51 opened #123 "[Reopened Issue] TypeError: null is not an object (evaluating '_RNBackgroundActionsModule.RNBackgroundActions.start')"
Hey, would like to re-open this issue. Am getting this same error on this library's version 2.6.5. Please see the error logs below that I received using the example code in your repo:

[code]

I've looked at issues #21 #34, and #75. Added, removed dependencies, deleted `node_modules` and rebuilt project to no avail. All I wana do is run a simple mobile app in the background.

_Originally posted by

[2022-02-20 22:05] jakeee51 commented on #123
Figured it out. The underlying issue was that the package wasn't linking properly and taking in to account the necessary changes to the `AndroidManifest.xml` that this package needs to run.

The key is to run `expo run:android` for those of you using Expo Go. Or manually re-build your project in Android Studio. You'll have to add a `local.properties` file in your *android* directory which contains

[2022-02-20 22:05] #123 closed

[2022-02-22 09:04] Rapsssito commented on #121
@shinnachot, I am not sure, but you may need to resolve your promise:
[code]

[2022-02-22 22:44] #116 closed

[2022-02-22 22:45] Rapsssito commented on #113
@abolfazlyounesi, could you provide more information, any sort of reproducible code?

[2022-03-03 12:05] fabiros commented on #121
+1
In my case the action start is called after a successful login. The action runs forever in the background and gets restarted during login with adjusted service values.
The action always runs the amount of times the app was killed simultaneously.
Personally I think the error has something todo with react native `Appregistry.runApplication` always creating a new `RootTag`

[2022-03-10 14:19] fabiros commented on #121
@Rapsssito i modified the pkg code locally and when i adjust the onStartCommand like this it works.

[code]

Dont know if this solves the problem, but worked for me

[2022-03-12 09:50] Rapsssito commented on #121
@fabiros, could you create a PR with your code so we can have this "fix" in a branch at least?

[2022-03-13 19:52] fabiros commented on #121
@Rapsssito done

[2022-03-22 00:56] GiuseppeEpifani commented on #84
same problem

[2022-03-22 00:57] GiuseppeEpifani commented on #97
same problem

[2022-03-22 01:04] GiuseppeEpifani commented on #106
same problem, what solution did you do?

[2022-03-22 18:20] Rapsssito commented on #121
This issue should be fixed by #124. Feel free to reopen if the problem persists.

[2022-03-22 18:21] #113 closed

[2022-03-23 12:09] jkyriakou commented on #60
Nice Job Guys!!

I am trying to validate that service JS function taskRandom is being kept alive when app is teminated/closed. However I am having  an issue because when I close the app it seems like it not working(Notification bar is disappearing).
Could you please help me ?
const taskRandom = async (taskData) => {
await new Promise(async (resolve) => {
        // For loop with a delay
        co

[2022-03-27 22:00] GiuseppeEpifani commented on #67
What was the solution to make your service work continuously without stopping in the background after a while? I am creating an application with functionality similar to yours that has a timer.

[2022-03-28 22:15] GiuseppeEpifani opened #125 "Android 12 backgroud service not working when turn off screen"
Hello, very good library, I wanted you to help me with the following problem, it turns out that when I am debugging my application connected with the usb to my computer, the service always works in the background, even when the screen is off, but when I use the application without my cell phone being connected to the electric current, after 5 minutes since the screen is off, the service stops and

[2022-04-03 04:34] AlenToma opened #126 "The service notification disappears after some times"
Hi, as the title says, the notification disappears after sometime but the `BackgroundService.isRunning` is still running.

Is that okey ? or is it a problem.

as I know when the notification disappears it should indicate that the service is down right?

[2022-04-04 20:44] Rapsssito commented on #126
@AlenToma, the background handling implementation heavily depends on the OS flavor you are running. Normally, if when the notification disappears, it means the service is no longer running, **but it may not be the case**. The only way of knowing is checking the process itself.

[2022-04-04 20:46] Rapsssito commented on #125
@GiuseppeEpifani, sadly this is out of the scope of this module as the OS decides whether or not to allow a background job to keep running in the background. However, for alerts, I highly recommend using other libraries that setup background timers or intervals.

[2022-04-04 20:48] #125 closed

[2022-04-05 07:08] AlenToma commented on #126
The process is while loop that always running, so if there were an error on the android part. then you could not have seen it.
Now I have downgraded to `2.6.2` and everything works as it should be.

The notification is always up as long as my app is open.

I am using this in `Samsung s10 lite` with android version 11

[2022-04-08 11:25] JariPulkkinen commented on #126
I also noticed that the service got stopped when I closed the application. Call to stopForeground() call here might be the reason:

https://github.com/Rapsssito/react-native-background-actions/blob/318375c7a57507f6266c151255509210f42bf85a/android/src/main/java/com/asterinet/react/bgactions/RNBackgroundActionsTask.java#L92

[2022-04-08 12:40] AlenToma commented on #126
Obs I forgot to say that the notification disappear only when the app have gone on foreground for 6 to 10 mins

[2022-04-11 07:21] Rapsssito commented on #126
@JariPulkkinen that `this.stopForeground(false);` is only called when there was already a running background task and you started a new one. It should not interfere.

[2022-04-11 07:22] Rapsssito commented on #126
@AlenToma, does it happen in version 2.6.4?

[2022-04-11 08:10] AlenToma commented on #126
Hmm was `2.6.4` the latest version? if it was then yes.

[2022-04-18 09:54] Mhp23 commented on #126
@Rapsssito in the latest version (2.6.6) background services will be stop and notification bar will gone when close application, before updating to the latest version it was been working correctly, please review.

[2022-04-18 11:43] Rapsssito commented on #126
@Mhp23, did it work in 2.6.5 or 2.6.4 ?

[2022-04-18 11:46] Rapsssito commented on #97
@shinnachot @GiuseppeEpifani The OS will always have the last word on background services, and some manufactures might be more aggressive with the optimizations (via removing background services) than others. It is almost always based on battery usage, so changing the energy saving mode setting for the app will almost always fix it (but this must be done by the user for security reasons).

[2022-04-18 11:46] #97 closed

[2022-04-18 11:54] Mhp23 commented on #126
@Rapsssito in v2.6.5 that I worked by it, it hadn't the problem and work correctly.

[2022-04-21 21:07] JoarDev commented on #123
Same issue here `TypeError: null is not an object (evaluating '_RNBackgroundActionsModule.RNBackgroundActions.start')`
The only solution that worked for me was to run the following command from the "[Using React Native < 0.60](https://github.com/Rapsssito/react-native-background-actions/blob/master/INSTALL.md#using-react-native--060-1)" section on the "[Install](https://github.com/Rapsssito/react-

[2022-04-25 11:51] AnagramEngineering commented on #126
I see the notification disappear as well after 1 min (it looked pretty exaxt) (Pixel3, Android 12).

(Application is in background, background process is still running (i see the console outputs) also after the notification went away)

my guess was that the system is maybe removing them automatically (as it's pretty exactly one minute until it's gone) but haven#t found anything on this topic.

i'm

[2022-04-25 14:04] #126 closed

[2022-04-25 14:05] Rapsssito commented on #121
I have reopened the issue since I had to revert the PR (#124) because it was creating another issue: #126.

[2022-04-25 14:06] Rapsssito commented on #126
@AnagramEngineering @Mhp23 @AlenToma could you check if this is fixed in the last version as I reverted #124

[2022-04-25 15:21] AnagramEngineering commented on #126
I can confirm this is working with 2.6.6 version. The notification is shown until the process is ended (which is happening after 5 minutes on my side (closing ble connection).

thx @Rapsssito

[2022-04-28 09:23] fobos531 opened #128 "Expo compatibility?"
Hello @Rapsssito

First of all, thank you for this great library, it has really proven to be an essential part of my app!

I'm using with it with great success in my react native project (CLI project), but with Expo SDK alongside, i.e. the bare workflow. With the advent of Expo's custom development clients and config plugins, it has been possible to use Expo's managed workflow, while also being ab

[2022-04-28 11:53] AlenToma commented on #126
I am truly sorry I did not have time to test this with the other version, will try to make time to test it later on.

[2022-04-29 08:45] juho-ylikyla opened #129 "Documentation should mention about adding BGTaskSchedulerPermittedIdentifiers to info.plist"
Firstly, thank you for this super useful library 🙏

The `INSTALL.MD` document mentions adding the background processing capability. In order to upload an app that has the mentioned capability, `info.plist` needs to have `BGTaskSchedulerPermittedIdentifiers` value set correctly. Otherwise, the upload will error with something like

[code]

I can create a PR to update the documentation if you see th

[2022-04-30 08:44] Rapsssito commented on #129
@juho-ylikyla, thanks for the feedback! Please, feel free to create a PR!

[2022-04-30 08:46] Rapsssito commented on #128
@fobos531, thanks for the feedback! I am not planning on adding support for Expo. I am not an active user of Expo and I lack the capabilities to maintain it bug-free. However, if you are finally able to set it up, I would gladly accept your PR!

[2022-05-02 14:59] #129 closed

[2022-05-18 07:00] SymntxHomendra51 opened #131 "how does this module keeps ios task in background?"
I've seen other libraries which keep tasks in the background but they are limited to minimum 15 minutes of intervals.

-  I've tried this library in android and its works in intervals of 2minutes as I've defined.
- But I don't know Will It be the same for ios too?. can someone spread some light on it?
- does this eliminate the 15 minute limit in ios?.

[2022-05-20 15:41] Rapsssito commented on #131
Hi @SymntxHomendra51, the documentation says the following:

[2022-05-20 15:41] #131 closed

[2022-06-04 10:28] ghorbani-m opened #132 "How to run a task when app is in background"
For this purpose, I used the combination of `react-native-background-action` and `react-native-background-fetch`.
I configured the BackgroundFetch to run every 15 minutes and call a function, inside of the function I tried to start a "BackgroundJob".
Something like this :
[code]
But when the app runs in the background I get this error message:
``
[Error: Not allowed to start service Intent { cmp='

[2022-06-07 07:54] Rapsssito commented on #132
@ghorbani-m, please, check that you have followed all the steps in: https://github.com/Rapsssito/react-native-background-actions/blob/master/INSTALL.md

[2022-06-07 11:33] puneetkansal04 opened #133 "Opening Gallery By default"
I am clicking on the notification and it is opening Gallery by default but i want to my app. Let me know if there is anything for this.

[2022-06-08 04:14] harleenarora opened #134 "The background service notification stop after some times on android."
Hi,
The BackgroundService auto stop after some time, If app in background and closed app from background.

Versions::
"react-native": "^0.65.1",
"react-native-background-actions": "^2.6.7",

Devices::
1. OnePlus 8, IN2011
2. OPPO F11 PRO

[2022-06-08 11:43] Rapsssito commented on #134
@harleenarora, if the app has been closed by the user, the OS is free to stop all background tasks generated by the app. I am sorry, but I cannot change that behavior.

[2022-06-16 05:08] netqom commented on #8
s

[2022-06-21 03:43] oursintegrated commented on #121
any update for create multiple task issue ?

[2022-06-21 07:55] blipo26 opened #136 "My app freezes after I activate the background job and try to reopen"
Hey people,
I have an app that triggers a background job immediately when my app state turns to 'background' using the AppState method from react native and stopping this background job once my AppState returns 'active'. The background job I'm activating has a function inside that listens sounds and then activates itself when receives an specific word, when I am activating my app after recognizes

[2022-06-29 11:26] SokolovRU opened #137 "Unhandled JS Exception: Unexpected identifier '_react Native Background Actions'"
Hello. I put everything according to the instructions, but I ran into an error that I didn't understand. Where should I look?

Unhandled JS Exception: Unexpected identifier '_reactNativeBackgroundActions'

no stack
<img width="356" alt="Снимок экрана 2022-06-29 в 14 26 03" src="https://user-images.githubusercontent.com/105442172/176425760-d41c3eec-fbe8-4d86-8e24-fb54e95ee1de.png">

The project is

[2022-07-03 10:07] roman-march commented on #137
I have the same error

[2022-07-04 08:19] Rapsssito commented on #133
@puneetkansal04, make sure you are setting up correctly the deep linking URL.

[2022-07-04 08:21] Rapsssito commented on #132
@ghorbani-m, you are right. You cannot start a "foreground task" while the app is in the background since it is not allowed by Android.

[2022-07-04 08:21] #132 closed

[2022-07-04 14:48] SokolovRU commented on #137
Okay Most likely it's just a mistake that I didn't use this library correctly.

To work, I created a class that has a start and stop method.

And when I need to call work, I just access the object of this class and call the desired method.

I'll just close it. For everyone who has such a thing, try to do it through the class.

[2022-07-04 14:48] #137 closed

[2022-07-14 09:55] Karthik-sk25 opened #138 "delay sec issue"

[2022-07-14 21:20] Pranavpatel428 opened #139 "It is not executing all the line which is mention in BackgroundService.start."
Hi Guys,
I am a trying to execute code in a screen after I run navigation.goBack(), it was working completely fine for a couple of releases but now it suddenly stopped executing the code after the navigation.goBack(). It is supposed to work something like this:

let personalPostTask = async () => {
    navigation.goBack();

    await createPost({
      variables: {
        postContent: {

[2022-07-15 14:39] prasannahe opened #140 "SyntaxError: Unexpected identifier '_reactNativeBackgroundActions'"
import BackgroundService from 'react-native-background-actions';

const sleep = time => new Promise(resolve => setTimeout(() => resolve(), time));

// You can do anything in your task such as network requests, timers and so on,
// as long as it doesn't touch UI. Once your task completes (i.e. the promise is resolved),
// React Native will go into "paused" mode (unless there are other tasks running

[2022-07-23 13:45] Rubioli opened #141 "On terminate and open new task/instance is created"
I have used the example code in the description for my app. Everything works fine and I see the background job running while in the foreground, background, and when the app is terminated.

After the termination when I open the app again, I see that a new stance is created and runs along side with the previous stance, so the app would create a new stance for each terminate and open. I tried to use

[2022-07-27 07:07] nahidmbstu opened #142 "Background process is stopped when the user deep cleans and no way to restart the process"
some user use deep clean app and there is no way to restart the process

[2022-07-27 07:31] Rapsssito commented on #142
@nahidmbstu, I am sorry this is an issue. Please, check #26.

[2022-07-27 07:32] #142 closed

[2022-07-27 07:32] #138 closed

[2022-07-28 13:40] zainarshad45122 commented on #141
async componentDidMount() {
    console.log("BS", BackgroundService.isRunning());
    const sleep = (time) => new Promise((resolve) => setTimeout(() => resolve(), time));

    const veryIntensiveTask = async (taskDataArguments) => {
      // Example of an infinite loop task
      const { delay } = taskDataArguments;
      await new Promise(async (resolve) => {
        console.error('Before Loop');

[2022-07-28 15:42] Rubioli commented on #141
Thank you so much @zainarshad45122

[2022-07-28 15:42] #141 closed

[2022-07-31 14:52] nguyenanhthai commented on #47
@Rapsssito How can I clear the interval in this case?

[2022-08-06 10:16] Rc85 opened #143 "What is the idea behind react-native-track-player?"
So when the app is put the background, we have to play a music file indefnitely to keep the app from terminating?

[2022-08-15 05:57] mirsahib opened #144 "Is it possible to show notification after completing the task"

[2022-08-16 06:48] rubansiva384 opened #145 "await BackgroundService.start(veryIntensiveTask, options); Not starting the task in android. No notification and No error messages at all"
useEffect(() => {
            const options = {
              taskName: 'Example',
              taskTitle: 'ExampleTask title',
              taskDesc: 'ExampleTask description',
              taskIcon: {
                name: 'ic_launcher',
                type: 'mipmap',
              },
              color: '#ff00ff',
              parameters: {
                delay: 1000,
              },

[2022-08-16 10:08] Rapsssito commented on #143
@Rc85, sadly, yes. This is because of iOS developer friendly approach...

[2022-08-16 10:08] #143 closed

[2022-08-16 10:10] Rapsssito commented on #144
@mirsahib, sadly not. For that purpose, I would recommend using a standard notification.

[2022-08-16 10:10] #144 closed

[2022-08-16 13:15] joseortiz9 commented on #47
@Rapsssito Please indicate how to clean the intervals please

[2022-08-17 09:33] rubansiva384 commented on #145
Its my cache issue. I just cleared everything and run it, its started working.

[2022-08-17 09:33] #145 closed

[2022-08-17 17:33] GaylordP commented on #84
Hello :)

Have you found a solution ?

Thanks you very much :)

[2022-08-20 07:57] Rapsssito commented on #47
@nguyenanhthai, @joseortiz9, you can use the classic: `clearInterval()`.

[2022-08-23 05:50] Karthik-sk25 opened #146 "How to start service every 3mins"
I want to start service for screenshot  every 3mins without delaying.if i use for loop it takes continues screenshot.
const veryIntensiveTask = async taskDataArguments => {
  //   const { delay } = taskDataArguments;
  //   await new Promise(async resolve => {
  //     for (let i = 0; BackgroundService.isRunning(); i++) {
Screenshot.captureScreenshot(1000);    // it means 1sec
}
sleep (delay)

[2022-08-24 18:39] nehal7-ml commented on #146
sleep(delay) needs to be inside the for loop I think
 for (let i = 0; BackgroundService.isRunning(); i++) {
Screenshot.captureScreenshot(1000); // it means 1sec
sleep (delay) // delay is provided through parameter arguments when starting the service
}

[2022-08-29 13:57] Rubioli opened #147 "service dies after a day"
Hello

I have installed my app as an APK on my phone (Android) and what I see is that the service just automatically dies/stops after around 24 hours, without any reboot or anything.

This is my current code:
[code]

Any help is much appreciated!

[2022-09-10 15:06] Rubioli opened #148 "How to set up Geolocation correctly for iOS"
First of all, a great library 💯

Currently, I'm using [geolocation](https://github.com/michalchudziak/react-native-geolocation) to keep the iOS alive and this is how I do it:
[code]
I set it inside the job runner to run it every 5 minutes. Is this the correct way of doing this?

But the issue is that in the background, I don't get anything and don't seem to run, even though I have allowed everythi

[2022-09-17 07:48] taoqf opened #149 "App crash when app changed to background[Android]."
After adding
[code]
into `AndroidMainfest.xml`, seems I got my app start a headless task perfect.
But if I change the app to background for a while, let's say 5 minutes, then I start my app,  either with tap app icon or task notification would cause my app crash.
But If I change my app in to background for just several seconds, event for minutes.
Seems this occurs frequently  when available memory

[2022-09-17 10:26] taoqf commented on #149
I am closing this issue cause I find that is cased by another lib.

[2022-09-17 10:26] #149 closed

[2022-09-21 20:51] ahummel25 commented on #148
@Rubioli Did you happen to get this working while the app is closed? I'm trying to do something very similar.

[2022-09-23 10:49] Rubioli commented on #148
No @ahummel25 No still struggling :/

[2022-09-28 10:16] #147 closed

[2022-09-28 10:17] Rubioli commented on #148
@rogeriocassares we would appreciate if you could add a example for implementing this for iOS as well

[2022-09-28 14:05] Rubioli commented on #148
Thank you so much @rogeriocassares for your reply. I have a Mac myself and it would be my pleasure to find a way to fix an example.

I have done it previously by using screen share and also VSCode Liveshare and it's much less painless than it sounds ;) Basically to set up a collab-env.

Let me know if you are interested and we can make it happen together 💯

[2022-09-29 21:26] mdrajibcbnits commented on #146
Did anyone actually achieve this???
My case using Simulator background task terminate after 30 min
Using Real device background task terminate after 30 sec

If anyone did make it work, please share that. thanks

[2022-10-06 18:18] vipulSoni458 opened #150 "Process is running in background but no notification is seen in IOS device?"

[2022-10-06 18:23] vipulSoni458 commented on #150
Hello I am using this example :
import BackgroundService from 'react-native-background-actions';

let sleep = ms => new Promise(resolve => setTimeout(resolve, ms));

const veryIntensiveTask = async taskDataArguments => {
  const {delay} = taskDataArguments;
  await new Promise(async resolve => {
    for (let i = 0; BackgroundService.isRunning(); i++) {
      console.log(i);
      await BackgroundS

[2022-10-08 15:02] TheSteveHan commented on #129
I've been looking through the code base trying to figure out why we need to background processing capability on ios without much luck. BackgroundService seems to behave the same way(giving ~30s of run time after app goes to background) on ios with/without the capability? Any pointers @Rapsssito

[2022-10-18 13:16] codesiddhant opened #151 "how to get clipboard content from background service"

[2022-10-27 16:22] remirez opened #152 "The screen randomly turns on when the process is running."
On an android phone. When I start my background task and then lock the phone, it will occasionally and randomly turn the screen on. Is this a known behavior? Is there a way around this so that the screen stays off even when the task is running?

[2022-11-10 02:35] nahidmbstu opened #154 "java.lang.RuntimeException: Unable to start service com.asterinet.react.bgactions.RNBackgroundActionsTask@c931e06 with Intent java.lang.NullPointerException: Attempt to invoke virtual method 'android.app.Activity com.facebook.react.bridge.ReactContext.getCurrentActivity()' on a null object reference"
java.lang.RuntimeException: Unable to start service com.asterinet.react.bgactions.RNBackgroundActionsTask@c931e06 with Intent  java.lang.NullPointerException: Attempt to invoke virtual method 'android.app.Activity com.facebook.react.bridge.ReactContext.getCurrentActivity()' on a null object reference

[2022-11-14 12:44] mustafaefdal1 opened #155 "Background Action and Graphql"
Hello,

I am making an application that receives location information when application is active and in the background. When I print it with console.log(), it works without any problems and data is received correctly both in the background and when application is active. but when I try to send data to the database with graphql, background-action is closed and opened continuously. When I put the ap

[2022-11-21 13:41] judaihyun opened #156 "even if i force app kill, notification still running"
even if i force app kill(wiping it off on the recent apps list), notification still appear

my code is below
![image](https://user-images.githubusercontent.com/10599877/203068868-72aaacda-a36e-47e5-b59c-68c6b7ee2140.png)

top stack components ( below code completly stop )
![image](https://user-images.githubusercontent.com/10599877/203069332-95dd4970-53d7-4301-88a8-f24c9d724898.png)

package.json
!

[2022-11-24 12:42] judaihyun commented on #156
https://github.com/Rapsssito/react-native-background-actions/issues/62

It was easy... sorry..  !!

[2022-11-24 12:42] #156 closed

[2022-11-25 03:53] SurajMohanty02 opened #157 "Not working when phone screen is off"
Hii, This package works fine when screen is on . But if i lock the device means it is not working. Can you please suggest me any solution ?

[2022-11-29 22:04] Navicna commented on #157
Ios, android or both?